<section class="content-header">
    <h1>
       Quadro de Efetivo
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Ferramentas do usuário</a></li>
        <li class="active">Quadro de Efetivo</li>
    </ol>
</section>
<section class="content">
  <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Efetivo Geral</h3>
                        <div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="motivos" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Posto/Graduação</th>
                                    <th>Previsto</th>
                                    <th>Existente</th>
                                    <th>Indisponível</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- CEL -->
                                <tr>
                                    <td>CEL(QOEM ou QOES)</td>
                                    <td><%= @efetivoGeralCELPrevisto %></td>
                                    <td><%= @efetivoGeralCELExistente %></td>
                                    <td><%= @efetivoGeralCELIndisponivel %></td>
                                </tr>
                                <!-- TEN - CEL -->
                                <tr>
                                    <td>Ten Cel(QOEM ou QOES)</td>
                                    <td><%= @efetivoGeralTenCelPrevisto %></td>
                                    <td><%= @efetivoGeralTenCelExistente %></td>
                                    <td><%= @efetivoGeralTenCelIndisponivel %></td>
                                </tr>
                                <!-- MAJ -->
                                <tr>
                                    <td>MAJ QOEM</td>
                                    <td><%= @efetivoGeralMajPrevisto %></td>
                                    <td><%= @efetivoGeralMajExistente %></td>
                                    <td><%= @efetivoGeralMajIndisponivel %></td>
                                </tr>
                                </tr>
                                <!-- CAP -->
                                <tr>
                                    <td>CAP(QOEM ou QOES)</td>
                                    <td><%= @efetivoGeralCapPrevisto %></td>
                                    <td><%= @efetivoGeralCapExistente %></td>
                                    <td><%= @efetivoGeralCapIndisponivel %></td>
                                </tr>
                                </tr>
                                <!-- 1º TEN -->
                                <tr>
                                    <td>1º Ten QTPM</td>
                                    <td><%= @efetivoGeral1TenPrevisto %></td>
                                    <td><%= @efetivoGeral1TenExistente %></td>
                                    <td><%= @efetivoGeral1TenIndisponivel %></td>
                                </tr>
                                <!-- 1º SGT -->
                                <tr>
                                    <td>1º Sgt (QOEM ou QOES)</td>
                                    <td><%= @efetivoGeral1SgtPrevisto %></td>
                                    <td><%= @efetivoGeral1SgtExistente %></td>
                                    <td><%= @efetivoGeral1SgtIndisponivel %></td>
                                </tr>
                                <!-- 2º Sgt -->
                                <tr>
                                    <td>2º Sgt (QOEM ou QOES)</td>
                                    <td><%= @efetivoGeral2SgtPrevisto %></td>
                                    <td><%= @efetivoGeral2SgtExistente %></td>
                                    <td><%= @efetivoGeral2SgtIndisponivel %></td>
                                </tr>
                                <!-- 3º SGT -->
                                <tr>
                                    <td>3º Sgt (QOEM ou QOES)</td>
                                    <td><%= @efetivoGeral3SgtPrevisto %></td>
                                    <td><%= @efetivoGeral3SgtExistente %></td>
                                    <td><%= @efetivoGeral3SgtIndisponivel %></td>
                                </tr>
                                <!-- SD -->
                                <tr>
                                    <td>SD (QOEM ou QOES)</td>
                                    <td><%= @efetivoGeralSdPrevisto %></td>
                                    <td><%= @efetivoGeralSdExistente %></td>
                                    <td><%= @efetivoGeralSdIndisponivel %></td>
                                </tr>
                                <!-- TOTAL -->
                                <tr>
                                    <th>TOTAL</th>
                                    <th><%= @efetivoTotalPrevisto %></th>
                                    <th><%= @efetivoTotalExistente %></th>
                                    <th><%= @efetivoTotalIndisponivel %></th>
                                </tr>
                            </tbody>
                          </table>
                        </div>
                </div>

  <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Uso Interno da DF</h3>
                        <div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="motivos" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Posto/Graduação</th>
                                    <th>Faltas</th>
                                    <th>Função Superior</th>
                                    <th>Vagas</th>
                                    <th>Vagas Ocupadas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- CEL -->
                                <tr>
                                    <td>CEL(QOEM ou QOES)</td>
                                    <td><%= @dfCELFaltas %></td>
                                    <td><%= @dfCELFuncaoSuperior %></td>
                                    <td><%= @dfCELVagas %></td>
                                    <td><%= @dfCELVagasOcupadas %></td>
                                </tr>
                                <!-- TEN - CEL -->
                                <tr>
                                    <td>Ten Cel(QOEM ou QOES)</td>
                                    <td><%= @dfTenCelFaltas %></td>
                                    <td><%= @dfTenCelFuncaoSuperior %></td>
                                    <td><%= @dfTenCelVagas %></td>
                                    <td><%= @dfTenCelVagasOcupadas %></td>
                                </tr>
                                <!-- MAJ -->
                                <tr>
                                    <td>MAJ QOEM</td>
                                    <td><%= @dfMajFaltas %></td>
                                    <td><%= @dfMajFuncaoSuperior %></td>
                                    <td><%= @dfMajVagas %></td>
                                    <td><%= @dfMajVagasOcupadas %></td>
                                </tr>
                                <!-- CAP -->
                                <tr>
                                    <td>CAP(QOEM ou QOES)</td>
                                    <td><%= @dfCapFaltas %></td>
                                    <td><%= @dfCapFuncaoSuperior %></td>
                                    <td><%= @dfCapVagas %></td>
                                    <td><%= @dfCapVagasOcupadas %></td>
                                </tr>
                                <!-- 1º TEN -->
                                <tr>
                                    <td>1º Ten QTPM</td>
                                    <td><%= @df1TenFaltas %></td>
                                    <td><%= @df1TenFuncaoSuperior %></td>
                                    <td><%= @df1TenVagas %></td>
                                    <td><%= @df1TenVagasOcupadas %></td>
                                </tr>
                                <!-- 1º SGT -->
                                <tr>
                                    <td>1º Sgt (QOEM ou QOES)</td>
                                    <td><%= @df1SgtFaltas %></td>
                                    <td><%= @df1SgtFuncaoSuperior %></td>
                                    <td><%= @df1SgtVagas %></td>
                                    <td><%= @df1SgtVagasOcupadas %></td>
                                </tr>
                                <!-- 2º Sgt -->
                                <tr>
                                    <td>2º Sgt (QOEM ou QOES)</td>
                                    <td><%= @df2SgtFaltas %></td>
                                    <td><%= @df2SgtFuncaoSuperior %></td>
                                    <td><%= @df2SgtVagas %></td>
                                    <td><%= @df2SgtVagasOcupadas %></td>
                                </tr>
                                <!-- 3º SGT -->
                                <tr>
                                    <td>3º Sgt (QOEM ou QOES)</td>
                                    <td><%= @df3SgtFaltas %></td>
                                    <td><%= @df3SgtFuncaoSuperior %></td>
                                    <td><%= @df3SgtVagas %></td>
                                    <td><%= @df3SgtVagasOcupadas %></td>
                                </tr>
                                <!-- SD -->
                                <tr>
                                    <td>SD (QOEM ou QOES)</td>
                                    <td><%= @dfSdFaltas %></td>
                                    <td><%= @dfSdFuncaoSuperior %></td>
                                    <td><%= @dfSdVagas %></td>
                                    <td><%= @dfSdVagasOcupadas %></td>
                                </tr>
                                <!-- TOTAL -->
                                <tr>
                                    <th>TOTAL</th>
                                    <th><%= @dfTotalFaltas %></th>
                                    <th><%= @dfTotalFuncaoSuperior %></th>
                                    <th><%= @dfTotalVagas %></th>
                                    <th><%= @dfTotalVagasOcupadas %></th>
                                </tr>
                            </tbody>
                          </table>
                        </div>
                </div>

                  <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Efetivo Indisponível</h3>
                        <div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="motivos" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Posto/Graduação</th>
                                    <th>Licenças</th>
                                    <th>Agregado</th>
                                    <th>Curso</th>
                                    <th>Outras Dispensas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- CEL -->
                                <tr>
                                    <td>CEL(QOEM ou QOES)</td>
                                    <td><%= @indisponivelCELLicenca %></td>
                                    <td><%= @indisponivelCELAgregado %></td>
                                    <td><%= @indisponivelCELCurso %></td>
                                    <td><%= @indisponivelCELOutrasDispensas %></td>
                                </tr>
                                <!-- TEN - CEL -->
                                <tr>
                                    <td>Ten Cel(QOEM ou QOES)</td>
                                    <td><%= @indisponivelTenCelLicenca %></td>
                                    <td><%= @indisponivelTenCelAgregado %></td>
                                    <td><%= @indisponivelTenCelCurso %></td>
                                    <td><%= @indisponivelTenCelOutrasDispensas %></td>
                                </tr>
                                <!-- MAJ -->
                                <tr>
                                    <td>MAJ QOEM</td>
                                    <td><%= @indisponivelMajLicenca %></td>
                                    <td><%= @indisponivelMajAgregado %></td>
                                    <td><%= @indisponivelMajCurso %></td>
                                    <td><%= @indisponivelMajOutrasDispensas %></td>
                                </tr>
                                <!-- CAP -->
                                <tr>
                                    <td>CAP(QOEM ou QOES)</td>
                                    <td><%= @indisponivelCapLicenca %></td>
                                    <td><%= @indisponivelCapAgregado %></td>
                                    <td><%= @indisponivelCapCurso %></td>
                                    <td><%= @indisponivelCapOutrasDispensas %></td>
                                </tr>
                                <!-- 1º TEN -->
                                <tr>
                                    <td>1º Ten QTPM</td>
                                    <td><%= @indisponivel1TenLicenca %></td>
                                    <td><%= @indisponivel1TenAgregado %></td>
                                    <td><%= @indisponivel1TenCurso %></td>
                                    <td><%= @indisponivel1TenOutrasDispensas %></td>
                                </tr>
                                <!-- 1º SGT -->
                                <tr>
                                    <td>1º Sgt (QOEM ou QOES)</td>
                                    <td><%= @indisponivel1SgtLicenca %></td>
                                    <td><%= @indisponivel1SgtAgregado %></td>
                                    <td><%= @indisponivel1SgtCurso %></td>
                                    <td><%= @indisponivel1SgtOutrasDispensas %></td>
                                </tr>
                                <!-- 2º Sgt -->
                                <tr>
                                    <td>2º Sgt (QOEM ou QOES)</td>
                                    <td><%= @indisponivel2SgtLicenca %></td>
                                    <td><%= @indisponivel2SgtAgregado %></td>
                                    <td><%= @indisponivel2SgtCurso %></td>
                                    <td><%= @indisponivel2SgtOutrasDispensas %></td>
                                </tr>
                                <!-- 3º SGT -->
                                <tr>
                                    <td>3º Sgt (QOEM ou QOES)</td>
                                    <td><%= @indisponivel3SgtLicenca %></td>
                                    <td><%= @indisponivel3SgtAgregado %></td>
                                    <td><%= @indisponivel3SgtCurso %></td>
                                    <td><%= @indisponivel3SgtOutrasDispensas %></td>
                                </tr>
                                <!-- SD -->
                                <tr>
                                    <td>SD (QOEM ou QOES)</td>
                                    <td><%= @indisponivelSdLicenca %></td>
                                    <td><%= @indisponivelSdAgregado %></td>
                                    <td><%= @indisponivelSdCurso %></td>
                                    <td><%= @indisponivelSdOutrasDispensas %></td>
                                </tr>
                                <!-- TOTAL -->
                                <tr>
                                    <th>TOTAL</th>
                                    <th><%= @indisponivelTotalLicenca %></th>
                                    <th><%= @indisponivelTotalAgregado %></th>
                                    <th><%= @indisponivelTotalCurso %></th>
                                    <th><%= @indisponivelTotalOutrasDispensas %></th>
                                </tr>
                            </tbody>
                          </table>
                        </div>
                </div>
</section>
