<div class="alert-error">
  <%= flash[:error] %>
  <% if @solicitation.errors.any? %>
    <div id="error_explanation">
      <div class="alert-error">
        O formulário contém <%= pluralize(@solicitation.errors.count, "erro") %>.
      </div>
      <ul>
        <% @solicitation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<%= form_for @solicitation do |l| %>
  <div class="box-body">
    <div class="form-group col-md-3">
      <label>Id Func</label>
      <%= l.text_field :user, value:current_user.id_func, readonly:"true", maxlength: "80", class:"form-control autocompleteFunc" %>
    </div>
    <div class="form-group col-md-8">
      <label>Nome</label>
      <%= l.text_field :user, value:current_user.name, readonly:"true", maxlength: "80", class:"form-control" %>
    </div>

    <div class="form-group col-md-3">
      <label>Tipo da Solicitação*</label>
      <% if @botao == 'edit' %>
      <%= l.select :type_solicitation, [['Férias',0], ['Dispensa',1], ['Licença',2]],{},disabled:"true", class: "form-control select2" %>
      <% else %>
        <%= l.select :type_solicitation, [['Férias',0], ['Dispensa',1], ['Licença',2]],{}, class: "form-control select2" %>
      <% end %>
    </div>

    <div id="tipo_licenca_id" class="form-group col-md-3">
      <label>Tipo de Licença*</label>
      <%= l.select :type_license, [['Especial',0], ['Interesses próprios',1]],{}, class: "form-control select2" %>
    </div>
    <div id="tempo_licenca_id" class="form-group col-md-4">
      <label>Tempo da Licença em dias*</label>
      <%= l.select :license_days, [['30', 30], ['60', 60], ['90', 90]],{}, class: "form-control select2" %>
    </div>
    <div class="form-group col-md-2">
        <label>Data Inicial*</label>
        <%= l.date_field :date_begin, class:"form-control data",:value => l.object.date_begin.try(:strftime,"%d-%m-%Y") %>
    </div>
    <div class="form-group col-md-2">
        <label>Data Final*</label>
        <%= l.date_field :date_end, class:"form-control data",:value => l.object.date_end.try(:strftime,"%d-%m-%Y") %>
    </div>
    <div class="col-md-8 form-group ">
        <label>Descrição da solicitação</label>
        <%= l.text_area :description, PlaceHolder: "Descreva sua solicitação", maxlength: "300", class:"form-control" %>
    </div>

    <% if @botao == 'edit' && @solicitation_list_approved.count > 0 %>
      <div class="col-md-12 form-group ">
          <label>Status da solicitação:</label>
          <table id="motivos" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Nome do superior</th>
                <th>Função</th>
                <th>Data</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% @solicitation_list_approved.each do |l|%>
                <tr>
                  <td><%= l.user.name %></td>
                  <td><%= l.user.function.name %></td>
                  <td><%= l.updated_at.to_s(:format_date) %></td>
                  <% if l.status == nil || l.status == 0 %>
                    <td><i class="fa fa-circle " title="Não Visualizado"> Não Visualizado</i></td>
                    <% else if l.status != nil && l.status == 1 %>
                      <td><i class="fa fa-circle " title="Visualizado"> Visualizado</i></td>
                        <% else if l.status != nil && l.status == 2 %>
                          <td><i class="fa fa-check " title="Aprovado"> Aprovado</i></td>
                          <% else if l.status != nil && l.status == 3 %>
                            <td><i class="fa fa-times " title="Negado"> Negado</i></td>
                          <% end %>
                        <% end %>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
      <% if @last_function_to_approve != nil %>
        <div class="col-md-8 form-group ">
            <label>Próximo usuário a aprovar tem a função:</label>
            <%= l.text_field :user, value: @last_function_to_approve.name, readonly:"true",
             class:"form-control" %>
        </div>
      <%end%>
    <% end %>

  </div>

  <div class="box-footer">
    <%= l.submit "Salvar", class: "btn btn-success" %>
    <% if @botao == 'edit' %>
      <a href="javascript:history.back()" class="btn btn-danger">Voltar</a>
    <% else %>
      <input name="limpar" value="Limpar" class="btn btn-danger" type="reset">
    <% end %>
    <div class=" small pull-right">* Campos obrigatórios</div>
  </div>

<% end %>

<script>
    $(document).ready(function () {

      var value_selected = $('#solicitation_type_solicitation option:selected').val();
      if(value_selected != 2){
        $("#tipo_licenca_id").addClass("hide");
        $("#tempo_licenca_id").addClass("hide");
        $("#tipo_licenca_id").removeClass("show");
        $("#tempo_licenca_id").removeClass("show");
      }else{
        $("#tipo_licenca_id").addClass("show");
        $("#tempo_licenca_id").addClass("show");
        $("#tipo_licenca_id").removeClass("hide");
        $("#tempo_licenca_id").removeClass("hide");
      }
      $( "#solicitation_type_solicitation" ).change(function() {
        if(this.value == 2){
          $("#tipo_licenca_id").addClass("show");
          $("#tempo_licenca_id").addClass("show");
          $("#tipo_licenca_id").removeClass("hide");
          $("#tempo_licenca_id").removeClass("hide");

        }else{
          $("#tipo_licenca_id").addClass("hide");
          $("#tempo_licenca_id").addClass("hide");
          $("#tipo_licenca_id").removeClass("show");
          $("#tempo_licenca_id").removeClass("show");
        }
        });
    });
</script>
