<section class="content-header">
    <h1>
        Solicitação de Dispensa e Afastamento
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Ferramentas do usuário</a></li>
        <li class="active">Solicitação de Dispensa e Afastamento</li>
    </ol>
</section>
<section class="content">
    <div class="box collapsed-box">
        <div class="box-header">
            <h3 class="box-title">Solicitação de Dispensa e Afastamento</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <hr>
        <div class="alert-error">
            <%= flash[:error] %>
          <% if @request_dispenses.errors.any? %>
            <div id="error_explanation">
                O formulário contém <%= pluralize(@request_dispenses.errors.count, "erro") %>.
            </div>
            <ul>
                <% @request_dispenses.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
          <% end %>
        </div>
        <%= form_for @request_dispenses do |f| %>
            <div class="box-body">
                <div class="form-group col-md-4">
                     <!--<%= f.label :idfunc %>-->
                    <label>Id Func</label>
                    <%= f.text_field :id_func, value:current_user.idFunc, disabled:"true" , maxlength: "80", class:"form-control autocompleteFunc" %>
                </div>
                <div class="form-group col-md-4">
                     <!--<%= f.label :name %>-->
                    <label>Nome</label>
                    <%= f.text_field :name, value:current_user.name, disabled:"true" , maxlength: "80", class:"form-control autocompleteFunc" %>
                </div>
                <div class="form-group col-md-4">
                     <!--<%= f.label :postograduacao_id %>-->
                    <label>Posto Graduação</label>
                    <%= f.text_field :postograduacao_id, value:@postograduacao.nomePostoGraduacao, disabled:"true" , maxlength: "80", class:"form-control autocompleteFunc" %>
                </div>
                <div class="col-md-8 form-group ">
                    <label>Solicitação</label>
                    <%= f.text_area :solicitacao, PlaceHolder: "Texto da solicitação", maxlength: "300", class:"form-control" %>
                </div>
                <div class="form-group col-md-2">
				    <!--<%= f.label :data_inicio %>-->
                    <label>Data Inicio*</label>
                    <%= f.text_field :data_inicio, class:"form-control data" %>
                </div>
                <div class="form-group col-md-2">
				    <!--<%= f.label :data_fim %>-->
                    <label>Data Fim*</label>
                    <%= f.text_field :data_fim, class:"form-control data" %>
                </div>
                <div class="form-group col-md-4">
                     <!--<%= f.label :id %>-->
                    <%= f.hidden_field :id, value:current_user.id, disabled:"true", class:"form-control autocompleteFunc" %>
                </div>
            </div>
            <div class="box-footer">
                <%= f.submit "Salvar", Class: "btn btn-success" %>
                <button name="button" type="reset" class="btn btn-danger">Limpar</button>
                <div class=" small pull-right">* Campos obrigatórios</div>
            </div>
        <% end %>
    </div>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Listar Perfis</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></but>
            </div>
        </div>
        <div class="box-body">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info btn-flat">Pesquisar</button>
                </span>
            </div>
        </div>
        <hr>
        <div class="box-body">
        <% if @request_dispenses_show.count <= 0 %>
                        <tr><td>Não existem companhias cadastradas.</td></tr>
        <% else %>
            <table id="motivos" class="table table-bordered table-striped">
                <thead>
                        <tr>
                        	<th>Data Inicio</th>
                            <th>Data Fim</th>
                            <th>Motivo</th>
                            <th>Situação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @request_dispenses_show.each do |o|%>
                            <% if o.id >= 0 %>
                                <tr>
                                    <td><%= data_br o.data_inicio %></td>
                                    <td><%= data_br o.data_fim %></td>
                                    <td><%= o.solicitacao %></td>
                                    <% if o.approved == 1 %>
                                        <td><i class="fa fa-times " title="Negado"> Negado< /i></td>
                                    <% else if o.approved == 2 %>
                                        <td><i class="fa fa-check " title="Aprovado"> Aprovado</i></td>
                                    <% else if o.approved == 0 %>
                                        <td><i class="fa fa-circle " title="Visualizado"> Visualizado</i></td>
                                    <% else %>
                                        <td><i class="fa fa-circle " title="Não Visualizado"> Não Visualizado</i></td> 
                                    <% end %>       
                                    <% end %>  
                                    <% end %>   
                                    <td><%= link_to raw("<i class='fa fa-edit'>Editar</i>"), {:controller => 'request_dispenses', :action => 'edit', :id => o.id}, class: 'btn btn-warning', method: :get %></td>
                                    <td><%= link_to raw("<i class='fa fa-close'>Remover</i>"), {:controller => 'request_dispenses', :action => 'destroy', :id => o.id},  :data => {:confirm=>'Deseja realmente remover este campo?'} , class: 'btn btn-danger', method: :delete %></td>
                                </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
            </div>
        <div class="box-footer"></div>
    </div>
</section>
