
<section class="content-header">
    <h1>
        Apontamento de Horas
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Ferramentas do usuário</a></li>
        <li class="active">Apontamento de Horas</li>
    </ol>
</section>
<section class="content">
    <div class="box collapsed-box">
        <div class="box-header">
            <h3 class="box-title">Apontamento de Horas</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <hr>
        <div class="alert-error">
            <%= flash[:error] %>
          <% if @pointingHour.errors.any? %>
            <div id="error_explanation">
                O formulário contém <%= pluralize(@pointingHour.errors.count, "erro") %>.
            </div>
            <ul>
                <% @pointingHour.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
          <% end %>
        </div>
        <%= form_for @pointingHour do |f| %>
            <div class="box-body">
            	<div class="form-group col-md-4">
				     <!--<%= f.label :idfunc %>-->
                    <label>Id Func</label>
                    <%= f.text_field :id_func, value:current_user.idFunc, disabled:"true" , maxlength: "80", class:"form-control" %>
                </div>
                <div class="form-group col-md-7">
                     <!--<%= f.label :idfunc %>-->
                    <label>Nome</label>
                    <%= f.text_field :id_func, value:current_user.name, disabled:"true" , maxlength: "80", class:"form-control" %>
                </div>
                <div class="form-group col-md-2">
				    <!--<%= f.label :data_inicio %>-->
                    <label>Data Inicio*</label>
                    <%= f.text_field :data_inicio, class:"form-control data" %>
                </div>
                <div class="form-group col-md-2">
				    <!--<%= f.label :hora_inicio %>-->
                    <label>Hora Inicio*</label>
                    <%= f.time_field :hora_inicio, class:"form-control time" %>
                </div>
                <div class="form-group col-md-2">
				    <!--<%= f.label :data_fim %>-->
                    <label>Data Fim*</label>
                    <%= f.text_field :data_fim, class:"form-control data" %>
                </div>
                <div class="form-group col-md-2">
				    <!--<%= f.label :hora_fim %>-->
                    <label>Hora Fim*</label>
                    <%= f.time_field :hora_fim, class:"form-control time" %>
                </div>
                <div class="form-group col-md-7">
                            <!--<%= f.label :tipo_servico_id %>-->
                    <label>Tipo De Serviço</label>
                    <%= f.select :tipo_servico_id, @tpServico.map{|s| [s.nome, s.id]}, {}, class: "form-control select2"%>
                </div>
            </div>
            <div class="box-footer">
                <%= f.submit "Salvar", Class: "btn btn-success" %>
                <%= f.button "Limpar", Class: "btn btn-danger" %>
                <div class=" small pull-right">* Campos obrigatórios</div>
            </div>
        <% end %>
    </div>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Listar Apontamento de Horas</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></but>
            </div>
        </div>
        <div class="box-body">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info btn-flat">Pesquisar</button>
                </span>
            </div>
        </div>
        <hr>
        <div class="box-body">
        <% if @pointingHour_show.count <= 0 %>
                        <tr><td>Não existem Apontamentos de Horas cadastrados.</td></tr>
        <% else %>
            <table id="motivos" class="table table-bordered table-striped">
                <thead>
                        <tr>
                            <th>Tipo de Serviço</th>
                            <th>Hora Inicio</th>
                            <th>Data Inicio</th>
                            <th>Hora Fim</th>
                            <th>Data Fim</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @pointingHour_show.each do |o|%>
                            <% if o.id >= 0 %>
                                <tr>
                                    <% @tpServico.each do |tp| %>
                                        <% if o.tipo_servico_id == tp.id %>
                                            <td><%= tp.nome %></td>
                                        <% end %>
                                    <% end %>
                                    <td><%= o.hora_inicio %></td>
                                    <td><%= o.data_inicio %></td>
                                    <td><%= o.hora_fim %></td>
                                    <td><%= o.data_fim %></td>
                                    <td><%= o.hora_inicio %></td>

                                    <td><%= link_to raw("<i class='fa fa-edit'>Editar</i>"), {:controller => 'pointing_hours', :action => 'edit', :id => o.id}, class: 'btn btn-warning', method: :get %></td>
                                    <td><%= link_to raw("<i class='fa fa-close'>Remover</i>"), {:controller => 'pointing_hours', :action => 'destroy', :id => o.id},  :data => {:confirm=>'Deseja realmente remover este campo?'} , class: 'btn btn-danger', method: :delete %></td>
                                </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
            </div>
        <div class="box-footer"></div>
    </div>
</section>
