
<section class="content-header">
    <h1>
        Apontamento de Horas
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Ferramentas do usuário</a></li>
        <li class="active">Apontamento de Horas</li>
    </ol>
</section>
<section class="content">
    <div class="box collapsed-box">
        <div class="box-header">
            <h3 class="box-title">Apontamento de Horas</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <hr>
        <div class="alert-error">
            <%= flash[:error] %>
          <% if @pointingHour.errors.any? %>
            <div id="error_explanation">
                O formulário contém <%= pluralize(@pointingHour.errors.count, "erro") %>.
            </div>
            <ul>
                <% @pointingHour.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
          <% end %>
        </div>
        <%= render 'form' %>
    </div>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Listar Apontamento de Horas</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></but>
            </div>
        </div>
        <div class="box-body">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info btn-flat">Pesquisar</button>
                </span>
            </div>
        </div>
        <hr>
        <div class="box-body">
        <% if @pointingHour_show.count <= 0 %>
            Não existem Apontamentos de Horas cadastrados.
        <% else %>
            <table id="motivos" class="table table-bordered table-striped">
                <thead>
                        <tr>
                            <th>Tipo de Serviço</th>
                            <th>Hora Inicio</th>
                            <th>Data Inicio</th>
                            <th>Hora Fim</th>
                            <th>Data Fim</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @pointingHour_show.each do |o|%>
                            <% if o.id >= 0 %>
                                <tr>
                                    <% @tpServico.each do |tp| %>
                                        <% if o.service_type_id == tp.id %>
                                            <td><%= tp.nome %></td>
                                        <% end %>
                                    <% end %>
                                    <td><%= o.date_hour_begin %></td>
                                    <td><%= o.date_hour_begin %></td>
                                    <td><%= o.date_hour_end %></td>
                                    <td><%= o.date_hour_end %></td>
                                    <td><%= link_to raw("<i class='fa fa-edit'>Editar</i>"), {:controller => 'pointing_hours', :action => 'edit', :id => o.id}, class: 'btn btn-warning', method: :get %></td>
                                    <td><%= link_to raw("<i class='fa fa-close'>Remover</i>"), {:controller => 'pointing_hours', :action => 'destroy', :id => o.id},  :data => {:confirm=>'Deseja realmente remover este campo?'} , class: 'btn btn-danger', method: :delete %></td>
                                </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
            </div>
        <div class="box-footer"></div>
    </div>
</section>
