<section class="content-header">
    <h1>
        Gerenciamento de Estagiários
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Ferramentas do usuário</a></li>
        <li class="active">Gerenciamento de Estagiários</li>
    </ol>
</section>
<section class="content">
            <% if @estagiario.errors.any? %>
                <div class="box box-default ">
                    <div class="box-header with-border">
                        <h3 class="box-title">Cadastro de Estagiários</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="error"><%= flash[:error] %></div>
      <div id="error_explanation">
        <div class="alert-error">
           O formulário contém <%= pluralize(@estagiario.errors.count, "erro") %>.
        </div>
        <ul>
         <% @estagiario.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
        </ul>
      </div>
    <% else %>
            <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Cadastro de Estagiários</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <% end %>
                    <%= form_for @estagiario do |f| %>
                        <div class="box-body">
                            <div class="form-group col-md-12">
                                <div class="form-group col-md-5">
                                    <label>Nome*</label>
                                    <%= f.text_field :nome, placeholder: "Nome", class:"form-control" %>
                                </div>
                                <div class="form-group col-md-5">
                                    <label>CPF*</label>
                                    <%= f.text_field :cpf, placeholder: "CPF", maxlength: "15", class:"form-control cpf" %>
                                </div>
                                <div class="form-group col-md-5">
                                    <label>Sexo*</label>
                                    <%= f.select :sexo, [['Maculino', 'M'], ['Feminino', 'F']],{}, class: "form-control" %>
                                </div>
                                <div class="form-group col-md-5">
                                    <label>Data Nascimento*</label>
                                    <%= f.date_field :data_nascimento, class:"form-control data" %>
                                </div>
                                <div class="form-group col-md-5">
                                    <label>Vigencia do Contrato*</label>
                                    <%= f.date_field :vigencia_contrato, class:"form-control data" %>
                                </div>
                                <div class="form-group col-md-5">
                                    <label>Semestre*</label>
                                    <%= f.select :semestre, [['Primeiro', 1], ['Segundo', 2]],{}, class: "form-control" %>
                                </div>
                                <div class="form-group col-md-5">
                                    <label>Endereço</label>
                                    <%= f.text_field :endereco, PlaceHolder: "Endereço", class:"form-control" %>
                                </div>
                                <div class="form-group col-md-5">
                                    <label>Email</label>
                                    <%= f.email_field :email, PlaceHolder: "email@email.com", maxlength: "80", class:"form-control" %>
                                </div>
                                <div class="form-group col-md-5">
                                    <label>Banco - ag/CC*</label>
                                    <%= f.text_field :agcc, PlaceHolder: "banco - agencia/conta", maxlength: "80", class:"form-control bancoAg" %>
                                </div>
                                <div class="form-group col-md-5">
                                    <label>Dias Trabalhados*</label>
                                    <%= f.text_field :dias_trabalhados, id:"diasTrabalhados",  PlaceHolder:  "Dias Trabalhados", class:"form-control" %>
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="valeTransporte">Vale Transporte</label>
                                    <%= f.text_field :vale_transporte, id:"valeTransporte", PlaceHolder:  "Vale Transporte", readonly: "true", class:"form-control" %>
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="valeTransporte">Horas Trabalhadas</label>
                                    <%= f.text_field :horas_trabalhadas, id:"horasTrabalhadas", PlaceHolder:  "Horas Trabalhadas", readonly: "true", class:"form-control" %>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button id="sbm" type="submit" class="btn btn-success">Salvar</button>
                            <button type="close" class="btn btn-danger">Cancelar</button>
                            <div class=" small pull-right">* Campos obrigatórios</div>
                        </div>
                    <% end %>
                </div>
                <!--Search-->
                 <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">Lista de Estagiários</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="input-group margin">
                            <input class="form-control" type="text" placeholder="Pesquisar">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-info btn-flat">Pesquisar</button>
                                </span>
                        </div>
                        <% if @estagiario_show.count < 1 %>
            <tr><td>Não existem Estagiários cadastrados.</td></tr>
            <% else %>
                        <table id="motivos" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Nome</th>
                                    <th>Semestre</th>
                                    <th>Vigência do Contrato</th>
                                    <th>ag/CC</th>
                                    <th>Dias Trabalhados</th>
                                    <th>Qtd de Vales Transporte</th>
                                    <th>Horas Trabalhadas</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            <% @estagiario_show.each do |e|%>
                                <tr>
                                    <td><%= e.id %></td>
                                    <td><%= e.nome %></td>
                                    <td><%= e.semestre %></td>
                                    <td><%= data_br e.vigencia_contrato %></td>
                                    <td><%= e.agcc %></td>
                                    <td><%= e.dias_trabalhados %></td>
                                    <td><%= e.vale_transporte %></td>
                                    <td><%= e.horas_trabalhadas %></td>
                                    <td><%= link_to raw("<i class='fa fa-edit'>Editar</i>"), {:controller => 'estagiarios', :action => 'edit', :id => e.id}, class: 'btn btn-warning', method: :get %></td>
                                    <td><%= link_to raw("<i class='fa fa-close'>Remover</i>"), {:controller => 'estagiarios', :action => 'destroy', :id => e.id}, :data => {:confirm=>'Deseja realmente remover este registro?'},  class: 'btn btn-danger', method: :delete %></td>
                                </tr>
                               <% end %>
                            </tbody>
                        </table>
                        <% end %>
                    </div>
                </div>

            </section>