<section class="content-header">
    <h1>Gerenciamento de Siglas
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="#">Ferramentas do usuário</a></li>
        <li class="active">Relatório de Horas Extras/Suplementação</li>
    </ol>
</section>
<section class="content">
  <div class="box">
      <div class="box-header">
          <h3 class="box-title">Cadastro Siglas</h3>
          <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
      </div>
      <hr>
      <div class="alert-error">
          <%= flash[:error] %>
          <% if @sigla.errors.any? %>
              <div id="error_explanation">
                  O formulário contém <%= pluralize(@sigla.errors.count, "erro") %>.
              </div>
              <ul>
                  <% @sigla.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
              </ul>
          <% end %>
      </div>
      <%= form_for @sigla do |f| %>
          <div class="box-body">
              <div class="col-md-2 form-group ">
                  <label>Cidade</label>
                  <%= f.text_field :sigla, PlaceHolder: "Sigla", maxlength: "5", class:"form-control" %>
              </div>
              <div class="col-md-8 form-group ">
                  <label>Nome</label>
                  <%= f.text_field :nome, PlaceHolder: "Nome", maxlength: "80", class:"form-control" %>
              </div>
          </div>
          <div class="box-footer">
              <%= f.submit "Gerar Relatório", class: "btn btn-success"%>              
          </div>
      <% end %>
  </div>
</section>
