<ul class="sidebar-menu">
  <li class="header"><%= t 'menu.main' %></li>
  <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
    <%= link_to dashboard_path do %>
        <i class="fa fa-dashboard"></i>
        <span><%= t 'menu.menu_principal' %></span>
    <% end  %>
  </li>
</ul><!-- /.sidebar-menu -->


<!-- Ferramentas de Usuário -->
  <ul class="sidebar-menu">
  <li class="header"><%= t 'menu.ferrmentas_de_usuário' %></li>
  <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
    <%= link_to users_new_path do %>
        <i class="fa  fa-wrench"></i>
        <span><%= t 'menu.gerenciamento_de_usuários' %></span>
    <% end  %>
  </li>
  <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
    <%= link_to new_opm_path do %>
        <i class="fa  fa-wrench"></i>
        <span><%= t 'menu.gerenciamento_de_Opms' %></span>
    <% end  %>
  </li>
  <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
    <%= link_to new_function_path do %>
        <i class="fa  fa-wrench"></i>
        <span><%= t 'menu.gerenciamento_de_Funções' %></span>
    <% end  %>
  </li>
  <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
    <%= link_to new_uniform_path do %>
        <i class="fa  fa-wrench"></i>
        <span><%= t 'menu.gerenciamento_de_Uniformes' %></span>
    <% end  %>
  </li>
  <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
<<<<<<< HEAD
    <%= link_to new_estagiario_path do %>
        <i class="fa  fa-wrench"></i>
        <span><%= t 'menu.gerenciamento_de_estagiários' %></span>
    <% end  %>
  </li>
  <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
=======
<<<<<<< HEAD
    <%= link_to new_postograduacao_path do %>
        <i class="fa  fa-wrench"></i>
        <span><%= t 'menu.gerenciamento_de_Posto/Graduação' %></span>
=======
>>>>>>> 0b2399c8361f7ef720c42179843b854f510ecb94
    <%= link_to quadro_efetivo_index_path do %>
        <i class="fa  fa-wrench"></i>
        <span><%= t 'menu.quadro_efetivo' %></span>
>>>>>>> 7b523d7f43c520be7a51419ddeb19c487da37432
    <% end  %>
  </li>
</ul><!-- /.sidebar-menu -->
