<ul class="sidebar-menu">
  <li class="header"><%= t 'menu.main' %></li>
  <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
    <%= link_to dashboard_path do %>
        <i class="fa fa-dashboard"></i>
        <span><%= t 'menu.menu_principal' %></span>
    <% end  %>
  </li>
</ul><!-- /.sidebar-menu -->


<!-- Ferramentas de Usuário -->
  <ul class="sidebar-menu">
  <li class="header"><%= t 'menu.ferrmentas_de_usuário' %></li>
  <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
    <%= link_to users_new_path do %>
        <i class="fa  fa-wrench"></i>
        <span><%= t 'menu.gerenciamento_de_usuários' %></span>
    <% end  %>
  </li>
  <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
    <%= link_to new_opm_path do %>
        <i class="fa  fa-wrench"></i>
        <span><%= t 'menu.gerenciamento_de_Opms' %></span>
    <% end  %>
  </li>
  <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
    <%= link_to new_function_path do %>
        <i class="fa  fa-wrench"></i>
        <span><%= t 'menu.gerenciamento_de_Funções' %></span>
    <% end  %>
  </li>
  <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
    <%= link_to new_uniform_path do %>
        <i class="fa  fa-wrench"></i>
        <span><%= t 'menu.gerenciamento_de_Uniformes' %></span>
    <% end  %>
  </li>
  <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
    <%= link_to new_estagiario_path do %>
        <i class="fa  fa-wrench"></i>
        <span><%= t 'menu.gerenciamento_de_Estagiários' %></span>
    <% end  %>
  </li>
  <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
    <%= link_to new_postograduacao_path do %>
        <i class="fa  fa-wrench"></i>
        <span><%= t 'menu.gerenciamento_de_Posto/Graduação' %></span>
      <% end  %>
  </li>
  <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
    <%= link_to quadro_efetivo_index_path do %>
        <i class="fa  fa-wrench"></i>
        <span><%= t 'menu.gerenciamento_de_QuadroEfetivo' %></span>
    <% end  %>
  </li>
  <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
    <%= link_to new_tipo_servico_path do %>
        <i class="fa  fa-wrench"></i>
        <span><%= t 'menu.gerenciamento_de_TipoServico' %></span>
    <% end  %>
  </li>
  <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
    <%= link_to new_sigla_path do %>
        <i class="fa  fa-wrench"></i>
        <span><%= t 'menu.gerenciamento_de_Sigla' %></span>
    <% end  %>
  </li>
 <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
    <%= link_to new_distribuicao_horas_extra_path do %>
        <i class="fa  fa-wrench"></i>
        <span><%= t 'menu.gerenciamento_de_distribuição_de_horas_extra' %></span>
    <% end  %>
  </li>
</ul><!-- /.sidebar-menu -->

<!-- Ferramenta Administrativa -->
  <ul class="sidebar-menu">
    <li class="header"><%= t 'menu.ferrmentas_de_administrativa' %></li>
      <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
        <%= link_to new_company_path do %>
          <i class="fa  fa-wrench"></i>
          <span><%= t 'menu.gerenciamento_de_Companhias' %></span>
        <% end  %>
      </li>
</ul><!-- /.sidebar-menu
