<ul class="sidebar-menu">
  <li class="header"><%= t 'menu.main' %></li>
  <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
    <%= link_to dashboard_path do %>
      <i class="fa fa-dashboard"></i>
      <span><%= t 'menu.menu_principal' %></span>
    <% end  %>
  </li>
</ul><!-- /.sidebar-menu -->
<!-- Ferramentas de Usuário -->
<ul class="sidebar-menu">
  <li class="header"><%= t 'menu.ferrmentas_de_usuário' %></li>
  <li class="treeview">
    <a href="#">
      <i class="fa fa-wrench"></i> 
      <span>Gerenciar</span>      
    </a>
    <ul class="treeview-menu" style="display: <%= abrir_menu(new_user_path + "," + new_opm_path + "," + new_gpm_path + "," + new_function_path + "," + new_uniform_path + "," + new_estagiario_path + "," + new_postograduacao_path + "," + quadro_efetivo_index_path + "," + new_tipo_servico_path + "," + new_sigla_path + "," + new_company_path + "," + new_pointing_hour_path + "," + new_distribuicao_horas_extra_path + "," + new_temporary_replacement_path + "," + new_licenca_path + "," + new_profile_path) %>;">
      <li class="<%= ative_se_pagina_atual(new_user_path, true) %>">
        <%= link_to new_user_path do %>
          <i class="fa  fa-wrench"></i>
          <span><%= t 'menu.usuários' %></span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_opm_path, true) %>">
        <%= link_to new_opm_path do %>
          <i class="fa  fa-wrench"></i>
          <span><%= t 'menu.Opms' %></span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_gpm_path, true) %>">
        <%= link_to new_gpm_path do %>
          <i class="fa  fa-wrench"></i>
          <span><%= t 'menu.Gpms' %></span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_function_path, true) %>">
        <%= link_to new_function_path do %>
          <i class="fa  fa-wrench"></i>
          <span><%= t 'menu.Funções' %></span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_uniform_path, true) %>">
        <%= link_to new_uniform_path do %>
          <i class="fa  fa-wrench"></i>
          <span><%= t 'menu.Uniformes' %></span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_estagiario_path, true) %>">
        <%= link_to new_estagiario_path do %>
          <i class="fa  fa-wrench"></i>
          <span><%= t 'menu.Estagiários' %></span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_postograduacao_path, true) %>">
        <%= link_to new_postograduacao_path do %>
          <i class="fa  fa-wrench"></i>
          <span><%= t 'menu.Posto Graduação' %></span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(quadro_efetivo_index_path, true) %>">
        <%= link_to quadro_efetivo_index_path do %>
          <i class="fa  fa-wrench"></i>
          <span><%= t 'menu.QuadroEfetivo' %></span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_tipo_servico_path, true) %>">
        <%= link_to new_tipo_servico_path do %>
          <i class="fa  fa-wrench"></i>
          <span><%= t 'menu.TipoServico' %></span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_sigla_path, true) %>">
        <%= link_to new_sigla_path do %>
          <i class="fa  fa-wrench"></i>
          <span><%= t 'menu.Sigla' %></span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_company_path, true) %>">
        <%= link_to new_company_path do %>
          <i class="fa  fa-wrench"></i>
          <span><%= t 'menu.companhias' %></span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_pointing_hour_path, true) %>">
        <%= link_to new_pointing_hour_path do %>
          <i class="fa  fa-wrench"></i>
          <span><%= t 'menu.ApontamentoDeHoras' %></span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
        <%= link_to new_distribuicao_horas_extra_path do %>
          <i class="fa  fa-wrench"></i>
          <span><%= t 'menu.HoraExtra' %></span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
        <%= link_to new_temporary_replacement_path do %>
          <i class="fa  fa-wrench"></i>
          <span><%= t 'menu.Subs_Temporárias' %></span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
        <%= link_to new_licenca_path do %>
          <i class="fa  fa-wrench"></i>
          <span><%= t 'menu.Licença' %></span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
        <%= link_to new_profile_path do %>
          <i class="fa  fa-wrench"></i>
        <span><%= t 'menu.Perfil' %></span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_release_vacation_path, true) %>">
        <%= link_to new_release_vacation_path do %>
          <i class="fa  fa-wrench"></i>
          <span><%= t 'menu.LançamentoDeFérias' %></span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
        <%= link_to new_temporary_replacement_path do %>
          <i class="fa  fa-wrench"></i>
          <span><%= t 'menu.Subs_Temporárias' %></span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
        <%= link_to new_management_hour_path do %>
          <i class="fa  fa-wrench"></i>
          <span><%= t 'menu.Gerencia de Horas' %></span>
        <% end  %>
      </li>
    </ul>
  </li>
  <!-- Ferramentas de Usuário -->
  <li class="header"><%= t 'menu.ferramentas_administrativas' %></li>
  <li class="treeview">
<<<<<<< HEAD
    <a href="#">
      <i class="fa fa-wrench"></i> 
      <span>Relatórios</span>     
    </a>
    <ul class="treeview-menu" style="display: <%= abrir_menu(quadro_efetivo_index_path) %>;">
      <li class="<%= ative_se_pagina_atual(new_user_path, true) %>">
      <li class="<%= ative_se_pagina_atual(quadro_efetivo_index_path, true) %>">
        <%= link_to quadro_efetivo_index_path do %>
          <i class="fa  fa-wrench"></i>
          <span><%= t 'menu.QuadroEfetivo' %></span>
        <% end %>
      </li>      
    </ul>
=======
      <a href="#">
          <i class="fa fa-wrench"></i> <span>Relatórios</span>
          <!--<span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
          </span>-->
      </a>
      <ul class="treeview-menu" style="display: none;">
          <li class="<%= ative_se_pagina_atual(quadro_efetivo_index_path, true) %>">
            <%= link_to quadro_efetivo_index_path do %>
                <i class="fa  fa-wrench"></i>
                <span><%= t 'menu.QuadroEfetivo' %></span>

          <li class="<%= ative_se_pagina_atual(new_release_vacation_path, true) %>">
            <%= link_to new_release_vacation_path do %>
              <i class="fa  fa-wrench"></i>
              <span><%= t 'menu.LançamentoDeFérias' %></span>
            <% end  %>
<<<<<<< HEAD
          </li>
=======
          </li>
          <li class="<%= ative_se_pagina_atual(new_temporary_replacement_path, true) %>">
            <%= link_to new_temporary_replacement_path do %>
              <i class="fa  fa-wrench"></i>
              <span><%= t 'menu.Subs_Temporárias' %></span>

            <% end  %>
          </li>
          <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
            <%= link_to new_management_hour_path do %>
              <i class="fa  fa-wrench"></i>
              <span><%= t 'menu.Gerencia de Horas' %></span>

            <% end  %>
          </li>

      </ul>
<% end  %>
>>>>>>> 3f846e98c1abeaf78df0568e414f628edf7a073e
  </li>
</ul>
