<ul class="sidebar-menu">
  <li class="header"><%= t 'menu.main' %></li>
  <li class="<%= ative_se_pagina_atual(dashboard_path, true) %>">
    <%= link_to dashboard_path do %>
      <i class="fa fa-dashboard"></i>
      <span><%= t 'menu.menu_principal' %></span>
    <% end  %>
  </li>
</ul><!-- /.sidebar-menu -->
<!-- Ferramentas de Usuário -->
<ul class="sidebar-menu">
  <li class="header"><span>Ferrmentas De Usuário</span></li>
  <li class="treeview">
    <a href="#">
      <i class="fa fa-wrench"></i>
      <span>Gerenciar</span>
    </a>
    
    <%= render "shared/menu" %>    

    <li class="<%= ative_se_pagina_atual(new_user_path, true) %>">
        <%= link_to new_user_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Usuários</span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_opm_path, true) %>">
        <%= link_to new_opm_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Opms</span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_gpm_path, true) %>">
        <%= link_to new_gpm_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Gpms</span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_function_path, true) %>">
        <%= link_to new_function_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Funções</span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_uniform_path, true) %>">
        <%= link_to new_uniform_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Uniformes</span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_trainee_path, true) %>">
        <%= link_to new_trainee_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Estagiários</span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_service_type_path, true) %>">
        <%= link_to new_service_type_path do %>
          <i class="fa  fa-wrench"></i>
          <span><%= t 'menu.TipoServico' %></span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_initial_path, true) %>">
        <%= link_to new_initial_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Sigla</span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_company_path, true) %>">
        <%= link_to new_company_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Companhias</span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_pointing_hour_path, true) %>">
        <%= link_to new_pointing_hour_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Apontamentos de Horas</span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_extra_hour_distribution_path, true) %>">
        <%= link_to new_extra_hour_distribution_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Horas Extras</span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_profile_path, true) %>">
        <%= link_to new_profile_path do %>
          <i class="fa  fa-wrench"></i>
        <span>Perfil</span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_temporary_replacement_path, true) %>">
        <%= link_to new_temporary_replacement_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Subs Temporárias</span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_management_hour_path, true) %>">
        <%= link_to new_management_hour_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Gerencia de Horas</span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_imported_file_path, true) %>">
        <%= link_to new_imported_file_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Importar Boletim</span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual( new_import_file_path, true) %>">
        <%= link_to  new_import_file_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Importar </span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual( new_import_newsletter_path, true) %>">
        <%= link_to  new_text_informative_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Textos Informativos</span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual( new_platoon_path, true) %>">
        <%= link_to  new_platoon_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Pelotões</span>
        <% end  %>

      <li class="<%= ative_se_pagina_atual( new_post_graduation_path, true) %>">
        <%= link_to  new_post_graduation_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Pelotão</span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_instruction_bulletin_path, true) %>">
        <%= link_to new_instruction_bulletin_path do %>
          <i class="fa fa-wrench"></i>
          <span>Boletim de Instrução</span>
        <% end %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_solicitation_path, true) %>">
        <%= link_to new_solicitation_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Solicitações</span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(new_approval_solicitation_path, true) %>">
        <%= link_to new_approval_solicitation_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Aprovação de solicitações</span>
        <% end  %>
      </li>
      <li class="<%= ative_se_pagina_atual(user_preferences_index_path, true) %>">
        <%= link_to user_preferences_index_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Preferencias do Usuário</span>
        <% end  %>
      </li>
    </ul>
  </li>
  <!-- Ferramentas de Usuário -->
  <li class="header"><span>Ferramentas Administrativas</span></li>
  <li class="treeview">
    <a href="#">
      <i class="fa fa-wrench"></i>
      <span>Relatórios</span>
    </a>
    <ul class="treeview-menu" style="display: <%= abrir_menu(person_table_index_path+ "," +  report_overtime_supplementations_path) %>;">
      <li class="<%= ative_se_pagina_atual(person_table_index_path, true) %>">
      <li class="<%= ative_se_pagina_atual(person_table_index_path, true) %>">
        <%= link_to person_table_index_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Quadro Efetivo</span>
        <% end %>
      </li>
      <li class="<%= ative_se_pagina_atual(report_overtime_supplementations_path, true) %>">
        <%= link_to report_overtime_supplementations_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Horas Extras/Supletamente</span>
        <% end %>
      </li>
      <li class="<%= ative_se_pagina_atual(users_change_password_path, true) %>">
        <%= link_to users_change_password_path do %>
          <i class="fa  fa-wrench"></i>
          <span>Trocar senha</span>
        <% end %>
      </li>
    </ul>
  </li>
</ul>
