<section class="content-header">
  <h1>
    Gerenciamento de Licenças
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Ferramentas do usuário</a></li>
    <li class="active">Gerenciamento de Licenças</li>
  </ol>
</section>

<section class="content">
  <div class="box box-default collapsed-box">
    <div class="box-header with-border">
      <h3 class="box-title">Cadastro de Licença</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="error"><%= flash[:error] %></div>
    <% if @licenca.errors.any? %>
      <div id="error_explanation">
        <div class="alert-error">
            O formulário contém <%= pluralize(@licenca.errors.count, "erro") %>.
        </div>
        <ul>
            <% @licenca.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for @licenca do |l| %>
      <div class="box-body">

        <div class="form-group col-md-7">
          <label>Usuário</label>
          <%= l.select :user_id, @select_users.map{|s| [s.id.to_s + ':'+ s.name.to_s , s.id]}, {}, class: "form-control select2" %>
        </div>

        <div class="form-group col-md-9">
          <label>Nome para a licença</label>
          <%= l.text_field :nome, PlaceHolder: "Nome", class:"form-control" %>
        </div>
        <div class="form-group col-md-2">
            <label>Tempo da Licença</label>
            <%= l.select :dias, [['30', '30'], ['60', '60'], ['90', '90']],{},
             class: "form-control" %>
        </div>
        <div class="form-group col-md-3">
          <label>Tipo de Licença</label>
          <%= l.select :tipo, [['Especial','L/E'], ['Interesses próprios','L/TIP']],{},
           class: "form-control" %>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>Data Inicial</label>
            <%= l.text_field :dataInicial, PlaceHolder: "01/01/2000",
             class:"form-control" %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>Data Final</label>
            <%= l.text_field :dataFinal, PlaceHolder: "01/01/2000", class:"form-control" %>
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Ordem da licença</label>
          <input type="text" class="form-control" id="nome" placeholder="NI 123/0000">
        </div>
      </div>
      <div class="box-footer">
        <%= l.submit "Salvar", class: "btn btn-success" %>
        <%= l.button "Limpar", class: "btn btn-danger" %>
        <div class=" small pull-right">* Campos obrigatórios</div>
      </div>
    <% end %>
  </div>

  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Listagem de licenças</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button type="button" class="btn btn-info btn-flat">Pesquisar</button>
            </span>
        </div>
    </div>
    <hr>
    <div class="box-body">
      <% if @licenca_show.count == 0 %>
        Não existem licenças cadastradas.
      <% else %>
        <table id="motivos" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Nome</th>
              <th>Tipo</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @licenca_show.each do |l|%>
              <tr>
                <td><%= l.id %></td>
                <td><%= l.nome %></td>
                <td><%= l.tipo %></td>
                <td><%= link_to raw("<i class='fa fa-edit'>Editar</i>"),
                 {:controller => 'licencas', :action => 'edit', :id => l.id},
                  class: 'btn btn-warning', method: :get %>
                </td>
                <td><%= link_to raw("<i class='fa fa-close'>Remover</i>"),
                 {:controller => 'licencas', :action => 'destroy', :id => l.id},
                  :data => {:confirm => "Realmente deseja excluir este registro?"},
                   class: 'btn btn-danger', method: :delete %>
                 </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</section>
