<div class="alert-error">
  <%= flash[:error] %>
  <% if @uniform.errors.any? %>
    <div id="error_explanation">
      <div class="alert-error">
        O formulário contém <%= pluralize(@uniform.errors.count, "erro") %>.
      </div>
      <ul>
        <% @uniform.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<%= form_for @uniform do |f| %>
  <div class="box-body">
      <div class="row">
        <div class="form-group col-md-3">
          <label>Sigla*</label>
          <%= f.text_field :initials, placeholder: "Descreva uma sigla para o uniforme!",
           maxlength: "6", class:"form-control" , 
                              data: {
                                  :validation => "required",
                                  "validation-error-msg" => "Este campo é obrigatorio." } %>
        </div>
        <div class="form-group col-md-9">
          <label>Nome do uniforme*</label>
          <%= f.text_field :name, placeholder: "Descreva um nome para o uniforme!",
           class:"form-control" , 
                              data: {
                                  :validation => "required",
                                  "validation-error-msg" => "Este campo é obrigatorio." } %>
        </div>
      </div>
      <div class="form-group col-md-12">
        <label>Descrição para o uniforme*</label>
        <%= f.text_area :description, placeholder: "Descreva o uniforme em 400 caracteres!",
         class: "form-control", size: "24x6", 
                            data: {
                                :validation => "required",
                                "validation-error-msg" => "Este campo é obrigatorio." } %>
      </div>
    </div>
  <div class="box-footer">
    <%= f.submit "Salvar", class: "btn btn-success" %>
    <% if @botao == 'edit' %>
      <a href="javascript:history.back()" class="btn btn-danger">Voltar</a>
    <% else %>
      <input name="limpar" value="Limpar" class="btn btn-danger" type="reset">
    <% end %>
    <div class=" small pull-right">* Campos obrigatórios</div>
  </div>
<% end %>
