<section class="content-header">
  <h1>
      Gerenciamento de Uniformes
  </h1>
  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Ferramentas do usuário</a></li>
      <li class="active">Gerenciamento de Uniformes</li>
  </ol>
</section>
<section class="content">
  <div class="box box-default collapsed-box">
    <div class="box-header with-border">
      <h3 class="box-title">Cadastro de Uniformes</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <!--INICIO form-->
      <%= render 'form' %>
    <!--FIM form-->
  </div>
  <div class="box">
      <div class="box-header">
          <h3 class="box-title">Listagem de Uniformes</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
      </div>
      <div class="box-body">
          <div class="input-group input-group-sm">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                  <button type="button" class="btn btn-info btn-flat">Pesquisar</button>
              </span>
          </div>
      </div>
      <hr>
      <!-- /.box-header -->
      <div class="box-body">
        <% if @uniform_show.count < 1 %>
          <tr><td>Não existem Uniformes cadastrados.</td></tr>
        <% else %>
          <table id="motivos" class="table table-bordered table-striped">
              <thead>
                  <tr>
                      <th></th>
                      <th>Sigla</th>
                      <th>Nome do Uniforme</th>
                      <th>Ultima alteração</th>
                  </tr>
              </thead>
              <tbody>
                <% @uniform_show.each do |o|%>
                  <tr>
                      <td><%= o.id %></td>
                      <td><%= o.initials %></td>
                      <td><%= o.name %></td>
                      <td><%= o.updated_at.to_s(:format_date) %></td>
                      <td><%= link_to raw("<i class='fa fa-edit'>Editar</i>"),
                       {:controller => 'uniforms', :action => 'edit', :id => o.id},
                        class: 'btn btn-warning', method: :get %></td>
                      <td><%= link_to raw("<i class='fa fa-close'>Remover</i>"),
                       {:controller => 'uniforms', :action => 'destroy', :id => o.id},
                       :data => {:confirm => "Realmente deseja excluir este registro?"},
                        class: 'btn btn-danger', method: :delete %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
      </div>
  </div>
</section>
