<section class="content-header">
  <h1>
      Gerenciamento de GPM
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Ferramentas do usuário</a></li>
    <li class="active">Gerenciamento de GPM</li>
  </ol>
</section>
<section class="content">
   <div class="box box-default collapsed-box"">
        <div class="box-header with-border">
            <h3 class="box-title">Cadastro de GPM</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <hr>
        <%= render "form" %>
    </div>
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Consultar GPM</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <% if @gpm_show.count < 1 %>
          Não existem GPMs cadastradas.
        <% else %>
          <table id="motivos" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Sigla</th>
                <th>Nome</th>
                <th>Cidade</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @gpm_show.each do |o|%>
                <tr>
                  <td><%= o.id %></td>
                  <td><%= o.initials %></td>
                  <td><%= o.name %></td>
                  <% @select_cities.each do |sc| %>
                    <% if o.city_id == sc.id %>
                      <td><%= sc.name %></td>
                    <% end %>
                  <% end %>
                  <td><%= link_to raw("<i class='fa fa-edit'>Editar</i>"), {:controller => 'gpms', :action => 'edit', :id => o.id}, class: 'btn btn-warning', method: :get %></td>
                  <td><%= link_to raw("<i class='fa fa-close'>Remover</i>"), {:controller => 'gpms', :action => 'destroy', :id => o.id}, :data => {:confirm=>'Deseja realmente remover este registro?'},  class: 'btn btn-danger', method: :delete %></td>
                </tr>
              <% end %>
            </tbody>
        </table>
      <% end %>
    </div>
  </div>
</section>