<div class="alert-error">
  <%= flash[:error] %>
  <% if @opm.errors.any? %>
    <div id="error_explanation">
      O formulário contém <%= pluralize(@opm.errors.count, "erro") %>.
    </div>
    <ul>
      <% @opm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<%= form_for @opm do |f| %>
  <div class="box-body">
    <div class="form-group col-md-4">
      <label>Sigla *</label>
      <%= f.text_field :initials, placeholder: "Sigla", maxlength: "6", class:"form-control" %>
    </div>
    <div class="form-group col-md-8">
      <label>Nome *</label>
      <%= f.text_field :name, placeholder: "Nome", class:"form-control" %>
    </div>
    <div class="col-md-5 form-group ">
        <label>Cidade *</label>
        <%= f.select :city_id, @select_cities.map{ |s| [s.name, s.id]}, {:include_blank => 'Selecionar'}, class: "form-control select2" %>
    </div>
  </div>
  <div class="box-footer">
    <%= f.submit "Salvar", class: "btn btn-success" %>
    <% if @botao == 'edit' %>
      <a href="javascript:history.back()" class="btn btn-danger">Voltar</a>
    <% else %>
      <input name="limpar" value="Limpar" class="btn btn-danger" type="reset">
    <% end %>
    <div class=" small pull-right">* Campos obrigatórios</div>
  </div>
<% end %> 