<div class="alert-error">
  <%= flash[:error] %>
  <% if @trainee.errors.any? %>
    <div id="error_explanation">
      <div class="alert-error">
        O formulário contém <%= pluralize(@trainee.errors.count, "erro") %>.
      </div>
      <ul>
        <% @trainee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<%= form_for @trainee do |f| %>
  <div class="box-body">
        <div class="form-group col-md-5">
            <label>Nome*</label>
            <%= f.text_field :name, placeholder: "Nome do estagiário ...", class:"form-control" %>
        </div>
        <div class="form-group col-md-5">
            <label>CPF*</label>
            <%= f.text_field :cpf, placeholder: "CPF ...", maxlength: "15", class:"form-control cpf" %>
        </div>
        <div class="form-group col-md-5">
            <label>Sexo</label>
            <%= f.select :gender, [['Maculino', 'M'], ['Feminino', 'F']],{}, class: "form-control select2" %>
        </div>
        <div class="form-group col-md-5">
            <label>Data Nascimento*</label>
            <%= f.date_field :birth, class:"form-control data",:value => f.object.birth.try(:strftime,"%d-%m-%Y") %>
        </div>
        <div class="form-group col-md-5">
            <label>Vigencia do Contrato*</label>
            <%= f.date_field :date_final_contract, class:"form-control data", :value => f.object.date_final_contract.try(:strftime,"%d-%m-%Y") %>
        </div>
        <div class="form-group col-md-5">
            <label>Semestre</label>
            <%= f.select :semester, [['Primeiro', 1], ['Segundo', 2]],{}, class: "form-control select2" %>
        </div>
        <div class="form-group col-md-3">
          <label>Cidade</label>
           <%= f.select :city_id, @select_cities.map{ |s| [s.name, s.id]}, {:include_blank => 'Selecionar'}, class: "form-control select2" %>
        </div>
        <div class="form-group col-md-5">
            <label>Bairro</label>
            <%= f.text_field :neighborhood, PlaceHolder: "Bairro ...", class:"form-control" %>
        </div>
        <div class="form-group col-md-5">
            <label>Email</label>
            <%= f.email_field :email, PlaceHolder: "email@email.com", maxlength: "80", class:"form-control" %>
        </div>
        <div class="form-group col-md-5">
            <label>Agência bancária/conta*</label>
            <%= f.text_field :bank_agency_wallet, PlaceHolder: "banco - agencia/conta", maxlength: "80", class:"form-control bancoAg" %>
        </div>
        <div class="form-group col-md-5">
            <label>Dias Trabalhados*</label>
            <%= f.text_field :worked_days, id:"diasTrabalhados",  PlaceHolder:  "Dias Trabalhados", class:"form-control" %>
        </div>
        <div class="form-group col-md-5">
            <label for="valeTransporte">Vale Transporte</label>
            <%= f.text_field :transport_voucher, id:"valeTransporte", PlaceHolder:  "Vale Transporte", readonly: "true", class:"form-control" %>
        </div>
        <div class="form-group col-md-5">
            <label for="valeTransporte">Horas Trabalhadas</label>
            <%= f.text_field :worked_hours, id:"horasTrabalhadas", PlaceHolder:  "Horas Trabalhadas", readonly: "true", class:"form-control" %>
        </div>
        <div class="form-group col-md-3">
          <label>CEP</label>
          <%= f.text_field :zip_code, placeholder: "CEP do estagiário", class: "form-control" %>
        </div>
        <div class="form-group col-md-4">
          <label>Usuário que esta alterando</label>
          <%= f.text_field :user_id_last_change, value:current_user.id, disabled:"true" , maxlength: "80", class:"form-control " %>
        </div>

        <div class="form-group col-md-2">
            <label>Ativo*</label>
            <%= f.select :actived, [['Sim', 'true'], ['Não', 'false']],{}, class: "form-control select2" %>
        </div>
  </div>

  <div class="box-footer">
    <%= f.submit "Salvar", class: "btn btn-success" %>
    <% if @botao == 'edit' %>
      <a href="javascript:history.back()" class="btn btn-danger">Voltar</a>
    <% else %>
      <input name="limpar" value="Limpar" class="btn btn-danger" type="reset">
    <% end %>
    <div class=" small pull-right">* Campos obrigatórios</div>
  </div>
<% end %>
