
<%= form_for @user, :html =>{id:'teste'} do |f| %>
    <div class="box-body">
        <div class="box box-default">
            <h5 class="box-title">Dados Pessoais</h5>
            <div class="box-body">
                <div class="row">
                    <div class="form-group col-md-2">
                        <label>Id Funcional</label>
                        <%= f.text_field :id_func, PlaceHolder: "Id Funcional", maxlength: "80", class:"form-control", data: {
                                :multiple => "multiple", :validation => "length",
                                "validation-length" => "min4" } %>
                    </div>
                    <div class="form-group col-md-5">
                        <label>Nome</label>
                        <%= f.text_field :name, PlaceHolder: "Nome Completo", maxlength: "80", class:"form-control" %>
                    </div>
                    <div class="form-group col-md-5">
                        <label>Nome de Guerra</label>
                        <%= f.text_field :war_name, PlaceHolder:  "Nome de Guerra", class:"form-control" %>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label>CPF</label>
                        <%= f.text_field :cpf, PlaceHolder: "CPF", class:"form-control cpf" %>
                    </div>
                     <div class="form-group col-md-5">
                        <label>E-mail</label>
                        <%= f.text_field :email, PlaceHolder: "E-mail", class:"form-control" %>
                    </div>
                    <div class="form-group col-md-5">
                        <label>Login</label>
                        <%= f.text_field :username, PlaceHolder: "Usuário",  maxlength: "80", class:"form-control" %>
                    </div>
                 </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label>Data Nascimento</label>
                        <%= f.date_field :birth, class:"form-control data" %>
                    </div>
                    <div class="form-group col-md-5">
                        <label>Sexo</label>
                        <%= f.select :gender, [['Maculino', 'M'], ['Feminino', 'F']],  {:include_blank => 'Selecionar'}, class: "form-control select2" %>
                    </div>
                    <div class="form-group col-md-5">
                        <label>Ativo:</label>
                        <%= f.select :actived, [['Sim', 'true'], ['Não', 'false']],  {:include_blank => 'Selecionar'}, class: "form-control select2"%>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-default">
            <h5 class="box-title">Endereço</h5>
            <div class="box-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Endereço</label>
                        <%= f.text_field :address, PlaceHolder: "Endereço. Ex: 'Rua ....'", class:"form-control" %>
                    </div>
                     <div class="form-group col-md-3">
                        <label>CEP</label>
                        <%= f.text_field :zip_code, PlaceHolder: "CEP", class:"form-control cep" %>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Bairro</label>
                        <%= f. text_field :neighborhood, PlaceHolder: "Bairro", class:"form-control" %>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Cidade</label>
                        <%= f.select :city_id, @select_cities.map{ |s| [s.name, s.id]}, {:include_blank => 'Selecionar'}, class: "form-control select2" ,
                                data: {
                                    :validation => "required",
                                    "validation-error-msg" => "Este campo é obrigatorio." } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-default">
            <h5 class="box-title">Dados Profissionais</h5>
            <div class="box-body">
                <div class="row">
                     <div class="form-group col-md-6">
                        <label>Posto / Graduação*</label>
                        <%= f.select :post_graduation_id, @postograduacao.map{|s| [s.name, s.id]}, {:include_blank => 'Selecionar'}, class: "form-control select2"%>
                    </div>
                    <div class="form-group col-md-6">
                    <label>Função</label>
                        <%= f.select :function_id, @select_funcoes.map{|s| [s.name, s.id]}, {:include_blank => 'Selecionar'}, class: "form-control select2" %>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Perfil</label>
                            <%= f.select :profile_id, @select_perfis.map{|s| [s.name, s.id]}, {:include_blank => 'Selecionar'}, class: "form-control select2" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <%= f.submit "Salvar", Class: "btn btn-success" %>
        <% if @botao == 'edit' %>
          <a href="javascript:history.back()" class="btn btn-danger">Voltar</a>
        <% else %>
          <input name="limpar" value="Limpar" class="btn btn-danger" type="reset">
        <% end %>
        <div class=" small pull-right">* Campos obrigatórios</div>
    </div>
<% end %>
