    <section class="content-header">
    <h1>
        Trocar Senha
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Ferramentas do usuário</a></li>
        <li class="active">Trocar senha</li>
    </ol>
</section>
<section class="content">
    <div class="box ">
        <div class="box-header">
            <h3 class="box-title">Trocar senha</h3>
        </div>


    <%= form_tag "change_password_function"   do |f| %>
                <div class="box-body">
                      <div class="form-group col-md-7">
                        <label>Senha*</label>
                        <%= password_field_tag :password, nil, autocomplete: "off", PlaceHolder: "Senha", class:"form-control" %>
                    </div>
                    <div class="form-group col-md-7">
                        <label>Confirmar senha*</label>
                       <%= password_field_tag :password_confirmation, nil, autocomplete: "off", PlaceHolder: "Confirmar senha", class:"form-control" %>
                    </div>
                    </div>
                <div class="box-footer">
                    <%= button_to "Salvar", {}, {class: 'btn btn-success'} %>
                    <%= submit_tag "Limpar", Class: "btn btn-danger" %>
                </div>
            <% end %>
 </div>