<div class="box">
    <div class="box-header">
        <h3 class="box-title">Cadastro de Usuário</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <hr>
    <div class="alert-error">
      <% if @user.errors.any? %>
        <div id="error_explanation">
            O formulário contém <%= pluralize(@user.errors.count, "erro") %>.
        </div>
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
      <% end %>
    </div>
    <%= form_for @user do |f| %>
        <div class="box-body">
            <div class="form-group col-md-2">
                <!--<%= f.label :idFunc %> -->
                <label>Id Funcional</label>
                <%= f.text_field :idFunc, PlaceHolder: "Id Funcional", maxlength: "80", class:"form-control" %>
            </div>
            <div class="form-group col-md-8">
                <!--<%= f.label :name %>-->
                <label>Nome</label>
                <%= f.text_field :name, PlaceHolder: "Nome Completo", maxlength: "80", class:"form-control" %>
            </div>
            <div class="form-group col-md-2">
                <!--<%= f.label  :cpf %>-->
                <label>CPF</label>
                <%= f.text_field :cpf, PlaceHolder: "CPF", class:"form-control cpf" %>
            </div>
            <div class="form-group col-md-2">
                <!--<%= f.label :dataNascimento %>-->
                <label>Data Nascimento</label>
                <%= f.date_field :dataNascimento, class:"form-control data" %>
            </div>
            <div class="form-group col-md-8">
                <!--<%= f.label :nomeGuerra %>-->
                <label>Nome de Guerra</label>
                <%= f.text_field :nomeGuerra, PlaceHolder:  "Nome de Guerra", class:"form-control" %>
            </div>
            <div class="form-group col-md-2">
                <!--<%= f.label :sexo %>-->
                <label>Sexo</label>
                <%= f.select :sexo, [['Maculino', 'M'], ['Feminino', 'F']],{}, class: "form-control" %>
            </div>
            <div class="form-group col-md-5">
                <!--<%= f.label :imagemUsuario %>-->
                <label>Imagem Usuário</label>
                <%= f.file_field :imagemUsuario, PlaceHolder: "Imagem do Usuário"%>
            </div>
            <div class="form-group col-md-5">
                <!--<%= f.label :email %>-->
                <label>E-Mail</label>
                <%= f.text_field :email, PlaceHolder: "E-mail", class:"form-control" %>
            </div>
            <div class="form-group col-md-2">
                <!--<%= f.label :ativo %>-->
                <label>Ativo:</label>
                <%= f.select :ativo, [['Sim', 'true'], ['Não', 'false']],{}, class: "form-control" %>
            </div>
            <div class="form-group col-md-4">
                <!--<%= f.label :username %>-->
                <label>Login</label>
                <%= f.text_field :username, PlaceHolder: "Usuário",  maxlength: "80", class:"form-control" %>
            </div>
            <div class="form-group col-md-4">
                <!--<%= f.label :password %>-->
                <label>Senha</label>
                <%= f.password_field :password, class: "form-control" %>
            </div>
            <div class="form-group col-md-4">
                <!--<%= f.label  :password_confirmation %>-->
                <label>Confirmar Senha</label>
                <%= f.password_field :password_confirmation, class: "form-control" %>
            </div>
            <div class="form-group col-md-7">
                <!--<%= f.label :idFuncao %>-->
                <label>Função</label>
                <%= f.select :idFuncao, options_for_select(@select_funcoes), {}, class: "form-control select2" %>
            </div>
            <div class="form-group col-md-2">
                <!--<%= f.label :cep %>-->
                <label>CEP</label>
                <%= f.text_field :cep, PlaceHolder: "CEP", class:"form-control cep" %>
            </div>
            <div class="form-group col-md-7">
                <!--<%= f.label :endereco %>-->
                <label>Endereço</label>
                <%= f.text_field :endereco, PlaceHolder: "Endereço. Ex: 'Rua ....'", class:"form-control" %>
            </div>
            <div class="form-group col-md-3">
                <!--<%= f.label :bairro %>-->
                <label>Bairro</label>
                <%= f.text_field :bairro, PlaceHolder: "Bairro", class:"form-control" %>
            </div>
            <div class="form-group col-md-5">
                <!--<%= f.label :cidade %>-->
                <label>Cidade</label>
                <%= f.select :cidade, [['Caxias do Sul', '0'], ['Passo Fundo', '1'], ['Vacaria', '2']],{}, class: "form-control select2" %>
            </div>
            <div class="form-group col-md-5">
                <!--<%= f.label :estado %>-->
                <label>Estado</label>
                <%= f.select :estado, [['Rio Grande Do Sul', 'RS'], ['Santa Catarina', 'SC'], ['São Paulo', 'SP']],{}, class: "form-control select2" %>
            </div>
        </div>
        <div class="box-footer">
            <%= f.submit "Salvar", Class: "btn btn-success" %>
            <%= f.button "Limpar", Class: "btn btn-danger" %>
        </div>
    <% end %>
</div>
