<section class="content-header">
    <h1>
        Gerenciamento de Usuário
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Ferramentas do usuário</a></li>
        <li class="active">Gerenciamento de Usuário</li>
    </ol>
</section>
<section class="content">
    <div class="box collapsed-box">
        <div class="box-header">
            <h3 class="box-title">Cadastro de Usuário</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="alert-error">
            <%= flash[:error] %>
          <% if @user.errors.any? %>

            <div id="error_explanation">
                O formulário contém <%= pluralize(@user.errors.count, "erro") %>.
            </div>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
          <% end %>
        </div>
        <%= form_for @user do |f| %>
            <div class="box-body">
                <div class="form-group col-md-2">
				            <!--<%= f.label :idFunc %> -->
                    <label>Id Funcional</label>
                    <%= f.text_field :idFunc, PlaceHolder: "Id Funcional", maxlength: "80", class:"form-control" %>
                </div>
                <div class="form-group col-md-8">
				            <!--<%= f.label :name %>-->
                    <label>Nome</label>
                    <%= f.text_field :name, PlaceHolder: "Nome Completo", maxlength: "80", class:"form-control" %>
                </div>
			          <div class="form-group col-md-2">
				            <!--<%= f.label  :cpf %>-->
                    <label>CPF</label>
                    <%= f.text_field :cpf, PlaceHolder: "CPF", class:"form-control cpf" %>
                </div>
			          <div class="form-group col-md-2">
				            <!--<%= f.label :dataNascimento %>-->
                    <label>Data Nascimento</label>
                    <%= f.date_field :dataNascimento, class:"form-control data" %>
                </div>
			          <div class="form-group col-md-8">
				            <!--<%= f.label :nomeGuerra %>-->
                    <label>Nome de Guerra</label>
                    <%= f.text_field :nomeGuerra, PlaceHolder:  "Nome de Guerra", class:"form-control" %>
                </div>
			          <div class="form-group col-md-2">
                    <!--<%= f.label :sexo %>-->
                    <label>Sexo</label>
                    <%= f.select :sexo, [['Maculino', 'M'], ['Feminino', 'F']],{}, class: "form-control" %>
                </div>
			          <div class="form-group col-md-5">
				            <!--<%= f.label :imagemUsuario %>-->
                    <label>Imagem Usuário</label>
                    <%= f.file_field :imagemUsuario, PlaceHolder: "Imagem do Usuário"%>
                </div>
                <div class="form-group col-md-5">
				            <!--<%= f.label :email %>-->
                    <label>E-Mail</label>
                    <%= f.text_field :email, PlaceHolder: "E-mail", class:"form-control" %>
                </div>
			          <div class="form-group col-md-2">
				            <!--<%= f.label :ativo %>-->
                    <label>Ativo:</label>
                    <%= f.select :ativo, [['Sim', 'true'], ['Não', 'false']],{}, class: "form-control" %>
                </div>
			          <div class="form-group col-md-4">
				            <!--<%= f.label :username %>-->
                    <label>Login</label>
                    <%= f.text_field :username, PlaceHolder: "Usuário",  maxlength: "80", class:"form-control" %>
                </div>
			          <div class="form-group col-md-4">
				            <!--<%= f.label :password %>-->
                    <label>Senha</label>
                    <%= f.password_field :password, class: "form-control" %>
                </div>
                <div class="form-group col-md-4">
				            <!--<%= f.label  :password_confirmation %>-->
                    <label>Confirmar Senha</label>
                    <%= f.password_field :password_confirmation, class: "form-control" %>
                </div>
                <div class="form-group col-md-7">
				            <!--<%= f.label :idFuncao %>-->
                    <label>Função</label>
                    <%= f.select :idFuncao, options_for_select(@select_funcoes), {}, class: "form-control select2" %>
                </div>
                <div class="form-group col-md-2">
                    <!--<%= f.label :cep %>-->
                    <label>CEP</label>
                    <%= f.text_field :cep, PlaceHolder: "CEP", class:"form-control cep" %>
                </div>
                <div class="form-group col-md-7">
                    <!--<%= f.label :endereco %>-->
                    <label>Endereço</label>
                    <%= f.text_field :endereco, PlaceHolder: "Endereço. Ex: 'Rua ....'", class:"form-control" %>
                </div>
                <div class="form-group col-md-3">
				            <!--<%= f.label :bairro %>-->
                    <label>Bairro</label>
                    <%= f.text_field :bairro, PlaceHolder: "Bairro", class:"form-control" %>
                </div>
                <div class="form-group col-md-5">
                    <!--<%= f.label :cidade %>-->
                    <label>Cidade</label>
                    <%= f.select :cidade, [['Caxias do Sul', '0'], ['Passo Fundo', '1'], ['Vacaria', '2']],{}, class: "form-control select2" %>
                </div>
                <div class="form-group col-md-5">
                    <!--<%= f.label :estado %>-->
                    <label>Estado</label>
                    <%= f.select :estado, [['Rio Grande Do Sul', 'RS'], ['Santa Catarina', 'SC'], ['São Paulo', 'SP']],{}, class: "form-control select2" %>
                </div>
            </div>
            <div class="box-footer">
                <%= f.submit "Salvar", Class: "btn btn-success" %>
                <%= f.button "Limpar", Class: "btn btn-danger" %>
            </div>
        <% end %>
    </div>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Listar Usuário</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info btn-flat">Pesquisar</button>
                </span>
            </div>
        </div>
        <hr>
        <div class="box-body">
        <% if @user_show.count < 2 %>
          Não existem usuários cadastrados.
        <% else %>
            <table id="motivos" class="table table-bordered table-striped">
                <thead>
                        <tr>
                              <th>Id Funcional</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Data Nascimento</th>
                            <th>Sexo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @user_show.each do |o|%>
                            <% if o.id >= 0 %>
                                <tr>
                                    <td><%= o.idFunc %></td>
                                    <td><%= o.name %></td>
                                    <td><%= o.email %></td>
                                    <td><%= o.dataNascimento %></td>
                                    <td><%= o.sexo %></td>
                                    <td><%= link_to raw("<i class='fa fa-edit'>Editar</i>"),
                                     {:controller => 'users', :action => 'edit', :id => o.id},
                                      class: 'btn btn-warning', method: :get %>
                                    </td>
                                    <td><%= link_to raw("<i class='fa fa-close'>Remover</i>"),
                                     {:controller => 'users', :action => 'destroy', :id => o.id},
                                      :data => {:confirm => "Realmente deseja excluir este registro?"},
                                       class: 'btn btn-danger', method: :delete %>
                                     </td>
                                </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
            </div>

    </div>
</section>
