
<div class="alert-error">
  <%= flash[:error] %>
  <% if @function.errors.any? %>
    <div id="error_explanation">
      <div class="alert-error">
        O formulário contém <%= pluralize(@function.errors.count, "erro") %>.
      </div>
      <ul>
        <% @function.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<%= form_for @function do |f| %>
  <div class="box-body">
    <div class="row">
      <div class="form-group col-md-3">
        <label>Sigla*</label>
        <%= f.text_field :initials, placeholder: "Descreva uma sigla para a função!", maxlength: "6", class:"form-control"  ,
                  data: {
                      :validation => "required",
                      "validation-error-msg" => "Este campo é obrigatorio." } %>
      </div>
      <div class="form-group col-md-9">
        <label>Nome da Função*</label>
        <%= f.text_field :name, placeholder: "Descreva um nome para a função!", class:"form-control"  ,
                  data: {
                      :validation => "required",
                      "validation-error-msg" => "Este campo é obrigatorio." } %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <label>Número de Vagas*</label>
        <%= f.text_field :vacancies, placeholder: "Número de vagas para a função!", class: "form-control number"  ,
                  data: {
                      :validation => "required",
                      "validation-error-msg" => "Este campo é obrigatorio." } %>
      </div>
      <div class="form-group col-md-7">
          <label>Selecione a função do superior</label>
          <%= f.select :manager_function_id ,@select_funcoes.map{|s| [s.name, s.id]} , {:include_blank => 'Selecionar'}, class: "form-control select2", 
                  data: {
                      :validation => "required",
                      "validation-error-msg" => "Este campo é obrigatorio." } %>
      </div>
      <div class="form-group col-md-2">
          <label>Ativo*</label>
          <%= f.select :actived, [['Sim', 'true'], ['Não', 'false']], { :include_blank => 'Selecionar'}, class: "form-control select2"  ,
                  data: {
                        :validation => "required",
                      "validation-error-msg" => "Este campo é obrigatorio." } %>
      </div>
    </div>
  </div>
  <div class="box-footer">
    <%= f.submit "Salvar", class: "btn btn-success" %>
    <% if @botao == 'edit' %>
      <a href="javascript:history.back()" class="btn btn-danger">Voltar</a>
    <% else %>
      <input name="limpar" value="Limpar" class="btn btn-danger" type="reset">
    <% end %>
    <div class=" small pull-right">* Campos obrigatórios</div>
  </div>
<% end %>
