<div class="alert-error">
  <%= flash[:error] %>
  <% if @request_licence.errors.any? %>
    <div id="error_explanation">
      <div class="alert-error">
        O formulário contém <%= pluralize(@request_licence.errors.count, "erro") %>.
      </div>
      <ul>
        <% @request_licence.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<%= form_for @request_licence do |l| %>
  <div class="box-body">
    <div class="form-group col-md-4">
      <label>Id Func</label>
      <%= l.text_field :user_id, value:current_user.idFunc, readonly:"true", maxlength: "80", class:"form-control autocompleteFunc" %>
        <!--
        <label>Usuário</label>
        <%= l.select :user_id, @select_users.map{|s| [s.id.to_s + ':'+ s.name.to_s , s.id]}, {}, class: "form-control select2" %> -->
    </div>
    <div class="form-group col-md-4">
      <label>Nome</label>
      <!--<%= l.text_field :name, value:current_user.name, readonly:"true", maxlength: "80", class:"form-control" %>-->
      <!-- <%= l.text_field :name, PlaceHolder: "Nome", class:"form-control" %> -->
    </div>
    <div class="form-group col-md-2">
      <label>Tempo da Licença</label>
      <%= l.select :licence_days, [['30', '30'], ['60', '60'], ['90', '90']],{}, class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <label>Tipo de Licença*</label>
      <%= l.select :type, [['Especial','L/E'], ['Interesses próprios','L/TIP']],{}, class: "form-control" %>
    </div>
    <div class="col-md-2 form-group">
      <label>Data Inicial*</label>
      <%= l.date_field :date_begin, class:"form-control data" %>
    </div>
    <div class="col-md-2 form-group">
      <label>Data Final*</label>
      <%= l.date_field :date_end, class:"form-control data" %>
    </div>
  </div>
  <div class="box-footer">
    <%= l.submit "Salvar", class: "btn btn-success" %>
    <%= l.button "Limpar", class: "btn btn-danger" %>
    <div class=" small pull-right">* Campos obrigatórios</div>
  </div>
<% end %>