 <div class="error"><%= flash[:error] %></div>
<% if @lancamento_ferias.errors.any? %>
  <div id="error_explanation">
    <div class="alert-error">
      O formulário contém <%= pluralize(@lancamento_ferias.errors.count, "erro") %>.
    </div>
    <ul>
      <% @lancamento_ferias.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @lancamento_ferias do |f| %>
  <div class="box-body">
    <div class="form-group row">
      <div class="form-group col-md-2">
        <label>Id Func</label>
        <input type="text" class="form-control " value="<%= @current_user.id_func%>" disabled="" />
      </div>
      <div class="form-group col-md-6">
        <label>Usuário</label>
        <%= f.text_field :user_id, value: current_user.name, class:"form-control", :disabled=>"" %>
      </div>
      <div class="form-group col-md-3">
        <label>Posto/Graduação</label>
        <input type="text" class="form-control " value="<%= @current_user.post_graduation_id%>" disabled="" />
      </div>      
    </div>  
    <div class="form-group row">
      <div class="form-group col-md-2">
        <label>Data Inicial</label>
        <%= f.text_field :date_begin, class:"form-control data" , 
                      data: {
                          :validation => "required",
                          "validation-error-msg" => "Este campo é obrigatorio." } %>
      </div>
      <div class="form-group col-md-2">
        <label>Data Final</label>
          <%= f.text_field :date_end, class:"form-control data" , 
                      data: {
                          :validation => "required",
                          "validation-error-msg" => "Este campo é obrigatorio." } %>
      </div>
    </div>
  </div>
  <div class="box-footer">
     <%= f.submit "Salvar", Class: "btn btn-success" %>
        <% if @botao == 'edit' %>
          <a href="javascript:history.back()" class="btn btn-danger">Voltar</a>
        <% else %>
          <input name="limpar" value="Limpar" class="btn btn-danger" type="reset">
        <% end %>
        <div class=" small pull-right">* Campos obrigatórios</div>
  </div>
<% end %>