<% if @report_show.count < 1 %>
    Não existem Entradas para pesquisa.
<% else %>
    <div class="col-md-12">
        <h1>Relatório de Horas Extras/Suplementação</h1>
    </div>
    <div class="col-md-12">
        <table id="motivos" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Cidade</th>
                    <th>Unidade</th>
                    <th>Quantidade de horas</th>
                    <th>Data Inicial</th>
                    <th>Data Final</th>
                </tr>             
            </thead>
            <tbody>         
                <% @report_show.each do |o|%>
                    <tr>
                        <td><%= o.id %></td>
                        <td><%= o.cidade %><td>
                        <td><%= o.unidade %></td>
                        <td><%= o.numeroDeHoras %></td>s               
                        <td><%= o.dataInicio %></td>
                        <td><%= o.numeroDeHoras %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>