<section class="content-header">
  <h1>
    Preferências
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Ferramentas do usuário</a></li>
    <li class="active">Preferências</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="<%= @user.image_path %>" alt="User profile picture">

          <h3 class="profile-username text-center"><%= @user.name %></h3>

          <p class="text-muted text-center"><%= @post_graduation.name %></p>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

      <!-- About Me Box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Sobre mim</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <strong><i class="fa fa-book margin-r-5"></i> Nome</strong>

          <p class="text-muted">
            <%= @user.name%>
          </p>

          <hr>

          <strong><i class="fa fa-map-marker margin-r-5"></i> Nome de Guerra</strong>

          <p class="text-muted"><%= @user.war_name %></p>

          <hr>

          <strong><i class="fa fa-pencil margin-r-5"></i> Aniversário</strong>

          <p>
            <span class="text-muted"><%= data_br @user.birth %></span>
          </p>

          <hr>

          <strong><i class="fa fa-file-text-o margin-r-5"></i> Endereço</strong>

          <p>Rua:  <%= @user.address %> </br>
           Bairro: <%= @user.neighborhood %> </br>
           Cidade: <%= @city.name %> </br>
           Estado: <%= @user.state %> </br>
         </p>
       </div>
       <!-- /.box-body -->
     </div>
     <!-- /.box -->
   </div>
   <!-- /.col -->
   <div class="col-md-9">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#activity" data-toggle="tab">Dados do Usuário</a></li>
      </ul>
      <div class="tab-content">
        <div class="active tab-pane" id="activity">
          <!-- Post -->
          <div class="post">
            <div class="user-block">
              <%= form_tag({controller: "user_preferences", action: "save_preferences", method: "post"}, {multipart: true}) do %>
              <div class="form-group col-md-6">

                <label>Endereço</label>
                <%= text_field_tag :address, nil, placeholder: "Endereço. Ex: 'Rua ....'", class:"form-control" %>
              </div>
              <div class="form-group col-md-3">
                <label>CEP</label>
                <%= text_field_tag :zip_code, nil, placeholder: "CEP", class:"form-control cep" %>
              </div>
              <div class="form-group col-md-6">
                <label>Bairro</label>
                <%= text_field_tag :neighborhood, nil, placeholder: "Bairro", class:"form-control" %>
              </div>
              <div class="form-group col-md-6">
                <label>Cidade</label>
                <%= select_tag :city_id, options_for_select(@select_cities.collect{ |u| [u.name, u.id] }), {:include_blank => 'Selecionar', class: "select2"} %>
                </div>
                <div class="form-group col-md-6">
                  <label>Selecionar imagem de perfil</label></p>
                  <label for="picture" class="btn bg-navy margin">Selecionar imagem</label>
                  <%= file_field_tag :picture, style: "visibility:hidden;" %>
                </div>

              </div>
            </div>
            <!-- /.post -->
            <hr>
                  <%= submit_tag "Salvar", Class: "btn btn-success" %>

                <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



