<section class="content-header">
    <h1>
        Importar Boletim
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Ferramentas do usuário</a></li>
        <li class="active">Importar Boletim</li>
    </ol>
</section>
<section class="content">
    <div class="box collapsed-box">
        <div class="box-header">
            <h3 class="box-title">Importação de Boletim</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <hr>
        <div class="alert-error">
            <%= flash[:error] %>
          <% if @importedFile.errors.any? %>
            <div id="error_explanation">
                O formulário contém <%= pluralize(@importedFile.errors.count, "erro") %>.
            </div>
            <ul>
                <% @importedFile.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
          <% end %>
        </div>
        <%= form_tag @importedFile , :multipart => true do  %>
            <div class="box-body">
                <div class="form-group col-md-17">

                <div class="form-group col-md-17">
                    <label>Selecione o Arquivo*</label>
                    <i class="fa fa-fw fa-check-circle-o" style="display: none;" id='img_icon'></i>
                  <%= file_field_tag :imported_file_path %>
                
                </div>
            </div>
            <div class="box-footer">
                <%= submit_tag "Importar", Class: "btn btn-success" %>
                <%= button_tag "Cancelar", Class: "btn btn-danger" %>
                <div class=" small pull-right">
               </div>
            </div>
        <% end %>
    </div>
    
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Dados Extraídos: </h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></but>
            </div>
        </div>

        <hr>
        <div class="box-body">
        <% if @importedFile_show.count <= 0 %>
                        <tr><td>Não existem Boletins cadastrados.</td></tr>
        <% else %>
            <table id="motivos" class="table table-bordered table-striped">
                <thead>
                <div><h3>Boletins Cadastrados:</h3></div>
                        <tr>
                            <th>ID</th>
                            <th>Caminho do Arquivo</th>
                            <th>Título</th>
                            <th>Descrição</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @importedFile_show.each do |o|%>
                            <% if o.id >= 0 %>
                                <tr>
                                    <td><%= o.id %></td>
                                    <td><%= o.imported_file_path %></td>
                                    <td><%= o.title %></td>
                                    <td><%= o.description %></td>
                                     <td><%= o.date %></td>
                                </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
            </div>
            <!--  cmç-->
            <div class="box-body">

            <table id="motivos" class="table table-bordered table-striped">
                <thead>
                <div><h3>Usuários que já estão cadastrados na base de dados</h3></div>
                        <tr>
                            <th>Id Func</th>
                            <th>ID Boletim</th>
                            <th>Graduação</th>
                            <th>Nome</th>
                            <th>OPM</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @importedFile_user_show.each do |f|%>
                            <% if f.id_func_temp.nil? %>
                                <tr>
                                    <td><%= f.user_id %></td>
                                    <td><%= f.imported_file_id %></td>
                                    <td><%= f.graduation %></td>
                                     <td><%= f.name %></td>
                                      <td><%= f.opm %></td>
                                </tr>
                        <% end %>
                       <% end %>
                    </tbody>
                </table>

            </div>
            <!--  fim-->
              <!--  cmç-->
            <div class="box-body">

            <table id="motivos" class="table table-bordered table-striped">
                <thead>
                    <div><h3>Usuários que não estão cadastrados na base de dados, efetue o cadastro</h3></div>
                            <th>Id Func</th>
                            <th>ID Boletim</th>
                            <th>Graduação</th>
                            <th>Nome</th>
                            <th>OPM</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @importedFile_user_show.each do |u|%>
                            <% if u.user_id.nil?  %>
                                <tr>
                                    <td><%= u.id_func_temp %></td>
                                    <td><%= u.imported_file_id %></td>
                                    <td><%= u.graduation %></td>
                                     <td><%= u.name %></td>
                                      <td><%= u.opm %></td>
                                      <td><%= link_to raw("<i Class: 'btn btn-success'>Cadastrar</i>"), {:controller => 'users', :action => 'new', :id => u.id_func_temp, :name => u.name, :graduation => u.graduation, :opm => u.opm}, Class: 'btn btn-success', method: :get %></td>
                                </tr>
                        <% end %>
                      <% end %>
                    </tbody>
                </table>

            </div>
            <!--  fim-->
        <div class="box-footer"></div>
    </div>
</section>