<div class="alert-error">
            <%= flash[:error] %>
            <% if @tpServico.errors.any? %>
                <div id="error_explanation">
                    O formulário contém <%= pluralize(@tpServico.errors.count, "erro") %>.
                </div>
                <ul>
                    <% @tpServico.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            <% end %>
        </div>
<%= form_for @tpServico do |f| %>
    <div class="box-body">
        <div class="form-group row">
            <div class="col-md-2 form-group ">
                <label>Sigla*</label>
                <%= f.text_field :initials, PlaceHolder: "Sigla", maxlength: "6", class:"form-control" , 
                          data: {
                              :validation => "required",
                              "validation-error-msg" => "Este campo é obrigatorio." } %>
            </div>
            <div class="col-md-8 form-group ">
                <label>Nome do Serviço*</label>
                <%= f.text_field :name, PlaceHolder: "Nome", maxlength: "80", class:"form-control" , 
                          data: {
                              :validation => "required",
                              "validation-error-msg" => "Este campo é obrigatorio." } %>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4 form-group">
                <label>Função*</label>
                <%= f.select :function_id, @select_funcao.map{|s| [s.name, s.id]}, {:include_blank => 'Selecionar'}, class: "form-control select2" , 
                          data: {
                              :validation => "required",
                              "validation-error-msg" => "Este campo é obrigatorio." } %>
            </div>
            <div class="col-md-4 form-group">
                <label>Uniformes*</label>
                <%= f.select :uniform_id, @select_uniformes.map{|s| [s.name, s.id]}, {:include_blank => 'Selecionar'}, class: "form-control select2" , 
                          data: {
                              :validation => "required",
                              "validation-error-msg" => "Este campo é obrigatorio." } %>
            </div>
            <div class="col-md-2 form-group">
                <label>Ativo*</label>
                <%= f.select :actived, [['Sim', true], ['Não', false]],{:include_blank => 'Selecionar'}, class: "form-control select2" , 
                          data: {
                              :validation => "required",
                              "validation-error-msg" => "Este campo é obrigatorio." } %>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <%= f.submit "Salvar", class: "btn btn-success" %>
        <% if @botao == 'edit' %>
          <a href="javascript:history.back()" class="btn btn-danger">Voltar</a>
        <% else %>
          <input name="limpar" value="Limpar" class="btn btn-danger" type="reset">
        <% end %>
        <div class=" small pull-right">* Campos obrigatórios</div>
    </div>
<% end %>