<div class="box">
    <div class="box-header">
        <h3 class="box-title">Cadastro de Companhias</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <hr>
    <div class="alert-error">
      <% if @company.errors.any? %>
        <div id="error_explanation">
            O formulário contém <%= pluralize(@company.errors.count, "erro") %>.
        </div>
        <ul>
            <% @company.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
      <% end %>
    </div>
    <%= form_for @company do |f| %>
        <div class="box-body">
            <div class="form-group col-md-8">
                <!--<%= f.label :cidade %>-->
                <label>Cidade</label>
                <%= f.select :cidade, options_for_select(@select_cidades),{}, class: "form-control" %>
            </div>
            <div class="form-group col-md-8">
                <!--<%= f.label :nome %>-->
                <label>Nome</label>
                <%= f.text_field :nome, PlaceHolder: "Nome Completo", maxlength: "80", class:"form-control" %>
            </div>
            <div class="form-group col-md-8">
                <!--<%= f.label :unidade %>-->
                <label>Unidade</label>
                <%= f.select :unidade, options_for_select(@select_unidades),{}, class: "form-control" %>
            </div>
            <div class="form-group col-md-5">
                <!--<%= f.label :numero_servidor %>-->
                <label>Número de Servidores</label>
                <%= f.text_field :numero_servidor, PlaceHolder: "Número de Servidor", maxlength: "80", class:"form-control" %>
            </div>
            <div class="form-group col-md-5">
                <!--<%= f.label :ativo %>-->
                <label>Ativo:</label>
                <%= f.select :ativo, [['Sim', 'true'], ['Não', 'false']],{}, class: "form-control" %>
            </div>
        </div>
        <div class="box-footer">
            <%= f.submit "Salvar", Class: "btn btn-success" %>
            <%= f.button "Limpar", Class: "btn btn-danger" %>
        </div>
    <% end %>
</div>
