<section class="content-header">
  <h1>
    Aprovação de Indisponibilidade
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Ferramentas do usuário</a></li>
    <li class="active">Aprovação de Indisponibilidade </li>
  </ol>
</section>

<section class="content">
  <div class="box box-default collapsed-box">
    <div class="box-header with-border">
      <h3 class="box-title">Cadastro de Indisponibilidade </h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="error"><%= flash[:error] %></div>
    <% if @rhLicenseapproval.errors.any? %>
      <div id="error_explanation">
        <div class="alert-error">
            O formulário contém <%= pluralize(@rhLicenseapproval.errors.count, "erro") %>.
        </div>
        <ul>
            <% @rhLicenseapproval.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for @rhLicenseapproval do |l| %>
      <div class="box-body">

        <div class="form-group col-md-2">
          <label>Id Func*</label>
          <%= l.text_field :id_func, placeholder: "Id Funcionário", maxlength: "10", class:"form-control" %>
        </div>
        <div class="form-group col-md-4">
          <label>Nome</label>
          <%= l.text_field :nome_servidor, placeholder: "Nome", maxlength: "80", class:"form-control" %>
         </div>
        <div class="form-group col-md-3">
            <label>Posto / Graduação</label>
<%= l.text_field :posto_graduacao, placeholder: "Posto / Graduação", maxlength: "30", class:"form-control" %>
        </div>
        <div class="form-group col-md-3">
          <label>Motivo*</label>
          <%= l.text_field :motivo, placeholder: "Motivo indisponibilidade", maxlength: "30", class:"form-control" %>
        </div>
        <div class="form-group col-md-3">
        <label>Função</label>
          <%= l.text_field :funcao, placeholder: "Função", maxlength: "30", class:"form-control" %>
        </div>
        <div class="form-group col-md-2">
            <label>Data Inicial*</label>
             <%= l.text_field :data_inicio, placeholder: "Data inicial",class:"form-control data" %>
        </div>
        <div class="form-group col-md-2">
            <label>Data Final*</label>
            <%= l.text_field :data_termino, placeholder: "Data final",class:"form-control data" %>
         </div>
         <div class="form-group col-md-2">
            <label>Aprovação*</label>
            <%= l.select :status, [['Permitir', 'true'], ['Negar', 'false']],{}, class: "form-control" %>
            </div>
        </div>



       <div>
 <div>


        </div><br>




      <div class="box-footer">
        <%= l.submit "Salvar", class: "btn btn-success" %>
        <%= l.button "Limpar", class: "btn btn-danger" %>
        <div class=" small pull-right">
        <%=
          @teste
        %> * Campos obrigatórios</div>
      </div>
    <% end %>
  </div>

  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Listagem de Indisponibilidade </h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button type="button" class="btn btn-info btn-flat">Pesquisar</button>
            </span>
        </div>
    </div>
    <hr>
    <div class="box-body">
      <% if @rhLicenseapproval_show.count == 0 %>
        Não existem Indisponibilidade / Afastamento cadastradas.
      <% else %>
        <table id="motivos" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Id Func</th>
              <th>Nome</th>
              <th>Posto</th>
              <th>Motivo</th>
              <th>Função</th>
              <th>Data inicio</th>
              <th>Data Termino</th>
              <th>Situação</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @rhLicenseapproval_show.each do |l|%>
              <tr>
                <td><%= l.id_func %></td>
                <td><%= l.nome_servidor %></td>
                <td><%= l.posto_graduacao %></td>
                <td><%= l.motivo %></td>
                <td><%= l.funcao %></td>
                <td><%= data_br l.data_inicio %></td>
                 <td><%= data_br l.data_termino %></td>
                  <%if l.status == false %>
                  <td>Negada</td>
                  <% else %>
                  <td>Permitida</td>
                  <% end %>
                <td><%= link_to raw("<i class='fa fa-edit'>Editar</i>"),
                 {:controller => 'rh_license_approvals', :action => 'edit', :id => l.id},
                  class: 'btn btn-warning', method: :get %>
                </td>
                <td><%= link_to raw("<i class='fa fa-close'>Remover</i>"),
                 {:controller => 'rh_license_approvals', :action => 'destroy', :id => l.id},
                  :data => {:confirm => "Realmente deseja excluir este registro?"},
                   class: 'btn btn-danger', method: :delete %>
                 </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</section>

