<section class="content">
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Cadastro de Distribuição Horas Extras</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <% if @disthoraext.errors.any? %>
      <div id="error_explanation">
        <div class="alert-error">
           O formulário contém <%= pluralize(@disthoraext.errors.count, "erro") %>.
        </div>
        <ul>
         <% @disthoraext.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for @disthoraext do |f| %>
      <div class="box-body">
        <div class="form-group col-md-12">
          <div class="form-group col-md-2">
            <%= f.label :sigla %>
            <%= f.text_field :sigla, placeholder: "Sigla", class:"form-control" %>
          </div>
          <div class="form-group col-md-5">
            <%= f.label :idUnidade %>
            <%= f.text_field :idUnidade, placeholder: "ID Unidade", class:"form-control" %>
          </div>
          <div class="form-group col-md-5">
            <%= f.label :unidade %>
            <%= f.text_field :unidade, placeholder: "Nome Unidade", class:"form-control" %>
          </div>
          <div class="form-group col-md-5">
            <%= f.label :cidade %>
            <%= f.text_field :cidade, placeholder: "Cidade", class:"form-control" %>
          </div>
          <div class="form-group col-md-5">
            <%= f.label :numeroDeHoras %>
            <%= f.text_field :numeroDeHoras, placeholder: "Número De Horas", class:"form-control" %>
          </div>
          <div class="form-group col-md-5">
            <%= f.label :dataInicio %>
            <%= f.date_field :dataInicio, placeholder: "Data De Início", class:"form-control" %>
          </div>
          <div class="form-group col-md-5">
            <%= f.label :dataTermino %>
            <%= f.date_field :dataTermino, placeholder: "Data De Término", class:"form-control" %>
          </div>

        </div>

      </div>
      <div class="box-footer">
        <%= f.submit "Salvar", class: "btn btn-success" %>
        <%= f.button "Limpar", class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</section>
<section class="content">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Consultar Distribuição De Horas Extras</h3>
                        <div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <% if @disthoraext.count < 1 %>
                        <tr><td>Não existem Horas Extras cadastradas.</td></tr>
                      <% else %>
                        <table id="motivos" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Id Unidade</th>
                                    <th>Unidade</th>
                                     <th>Cidade</th>
                                     <th>Horas</th>
                                     <th>Data Inicio</th>
                                     <th>Data Término</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                              <% @disthoraext_show.each do |o|%>
                                <tr>
                                    <td><%= o.id %></td>
                                    <td><%= o.idUnidade %></td>
                                    <td><%= o.unidade %></td>
                                    <td><%= o.cidade %></td>
                                    <td><%= o.numeroDeHoras %></td>
                                    <td><%= o.dataInicio %></td>
                                    <td><%= o.dataTermino %></td>
                                    <td><%= link_to raw("<i class='fa fa-edit'>Editar</i>"), {:controller => 'disthoraext', :action => 'edit', :id => o.id}, class: 'btn btn-warning', method: :get %></td>
                                    <td><%= link_to raw("<i class='fa fa-close'>Remover</i>"), {:controller => 'disthoraext', :action => 'destroy', :id => o.id}, class: 'btn btn-danger', method: :delete %></td>
                                </tr>
                              <% end %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Id Unidade</th>
                                    <th>Unidade</th>
                                     <th>Cidade</th>
                                     <th>Horas</th>
                                     <th>Data Inicio</th>
                                     <th>Data Término</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                         <% end %>
                    </div>
                </div>
            </section>

