<section class="content-header">
    <h1>
         Aprovação de Indisponibilidade e Afastamento
    </h1>
    <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a href="#">Ferramentas do usuário</a></li>
          <li class="active">Aprovação de Indisponibilidade e Afastamento (RH)</li>
    </ol>
</section>
<section class="content">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Aprovação de Indisponibilidade e Afastamento</h3>
                    </div>
                    <%= form_for @toApprove do |f| %>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>Id Funcional</label>
                                        <%= text_field_tag :idFunc , @request.idFunc , class: "form-control", :readonly => true %>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Nome do Servidor</label>
                                        <%= text_field_tag :name , @user.name, class: "form-control", :readonly => true  %>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="postoServidor">Posto Grad.</label>
                                        <%= text_field_tag :nomePostoGraduacao, @pg.nomePostoGraduacao , class: "form-control", :readonly => true  %>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Motivo de Indisponibilidade</label>
                                        <%= text_area_tag :solicitacao , "teste" , class: "form-control", :readonly => true  %>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="funcaoSuperiorExercida">Função Exercida</label>
                                        <%= text_field_tag :funcaoExercida ,@funcao.funcao , class: "form-control", :readonly => true  %>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label> Data de Inicio</label>
                                        <%= text_field_tag :data_inicio, @request.dataInicial, class:"form-control data", :readonly => true  %>
                                    </div>
                                <div style="float:left">
                                    <label><br></label>
                                    <label class="form-control" style="border: 0px">a</label>
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Data de Término</label>
                                    <%= text_field_tag :data_fim, @request.dataFinal,  class:"form-control data", :readonly => true  %>
                                </div>
                            </div>
                            <div class="box-footer">
                                <%= link_to raw("<i class='fa fa-like'>Permitir</i>"), {:controller => 'approval_unavailability_and_removals', :action => 'approve', :id => @request.id}, class: 'btn btn-success', method: :get %>
                                <button type="button" class="btn btn-danger" onclick="funcao1()">Negar</button>
                            </div>
                        </div>
                    <% end %>
                    </div>
                    </section>